Repository e-lo/dertown: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint, prettier

stylelint:
  name: stylelint (CSS)
  entry: npm run lint:css -- --fix
  language: system

eslint:
  name: eslint (JS)
  entry: npm run lint:js -- --fix
  language: system

prettier:
  name: prettier (format CSS/JS/HTML/MD)
  entry: npm run format -- --fix
  language: system

chore(astro): upgrade to Astro 6 + @astrojs/netlify v7 + Node 20
  netlify.toml
  package-lock.json
  package.json
Due: none

feat(theming): generate Tailwind v4 @theme tokens from config.ts
  CUSTOMIZATION.md
  package.json
  scripts/generate-theme.ts
  src/lib/config.ts
  src/styles/global.css
  src/styles/theme.css
  src/styles/theme.generated.css
  tailwind.config.mjs
Due: stylelint, eslint, prettier

fix(build): require Node 22 for Astro 6.4+ (Netlify was on Node 20)
  .nvmrc
  netlify.toml
Due: none

chore(build): drop prebuild theme-generation hook (no tsx in build path)
  CUSTOMIZATION.md
  package.json
Due: prettier

fix(netlify): remove orphaned solid-js dep + pin framework to astro
  netlify.toml
  package-lock.json
  package.json
Due: none

chore(dev-tooling): migrate to ESLint 10 flat config; prune deprecated deps
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

feat: user-generated content moderation (App Store Guideline 1.2)
  mobile/__tests__/app/Announcements.test.tsx
  mobile/__tests__/app/EventDetail.test.tsx
  mobile/__tests__/lib/moderation.test.ts
  mobile/app/(tabs)/news.tsx
  mobile/app/(tabs)/starred.tsx
  mobile/app/_layout.tsx
  mobile/app/event/[id].tsx
  mobile/app/help.tsx
  mobile/app/organization/[id].tsx
  mobile/components/Icon.tsx
  mobile/components/ReportModal.tsx
  mobile/components/WelcomeModal.tsx
  mobile/contexts/BlockContext.tsx
  mobile/hooks/useEventList.ts
  mobile/lib/moderation.ts
  src/pages/api/mobile/report.ts
  src/pages/terms.astro
Due: eslint, prettier

chore: add env health probe to diagnose production SSR 500s
  src/pages/api/mobile/health.ts
Due: eslint, prettier

chore: health probe runs the events query to surface the production error
  src/pages/api/mobile/health.ts
Due: eslint, prettier

feat(families): nav cleanup, breadcrumbs, smarter program seasons/dates
  src/components/Navbar.astro
  src/components/ui/Breadcrumb.astro
  src/pages/families/after-school-activities.astro
  src/pages/families/camps.astro
  src/pages/families/programs.astro
  src/pages/families/programs/[id].astro
Due: none

feat(families): redesign activities landing — 3 full-bleed blocks + family calendar
  src/components/Calendar.astro
  src/pages/families/activities.astro
Due: none

hotfix(supabase): runtime env fallback for credentials (fixes prod 500)
  src/lib/supabase.ts
Due: eslint, prettier

hardening(supabase): make supabaseAdmin lazy so a missing service key can't 500 the public site
  src/lib/supabase.ts
Due: eslint, prettier

hardening(supabase): runtime env fallback + lazy supabaseAdmin (port from main)
  src/lib/supabase.ts
Due: eslint, prettier

hotfix(prod): bump main to Node 22 (fixes site-wide 500)
  .nvmrc
  netlify.toml
Due: none

ci: dependency-health canary + build on prod Node; move health probe to /api/health
  .github/workflows/ci.yml
  package.json
  src/lib/__tests__/dependency-health.test.ts
  src/pages/api/health.ts
  src/pages/api/mobile/health.ts
Due: eslint, prettier

ci: add dependency-health canary, CI workflow, and /api/health (parity with main)
  .github/workflows/ci.yml
  package.json
  src/lib/__tests__/dependency-health.test.ts
  src/pages/api/health.ts
Due: eslint, prettier

feat(observability): add Sentry error tracking to the web app (main/Astro 4)
  astro.config.mjs
  package-lock.json
  package.json
  sentry.client.config.js
  sentry.server.config.js
Due: eslint, prettier

feat(observability): add Sentry error tracking to web app (Astro 6 branch)
  astro.config.mjs
  package-lock.json
  package.json
  sentry.client.config.js
  sentry.server.config.js
Due: eslint, prettier

docs: document monitoring/observability + per-deployment services
  CUSTOMIZATION.md
  DEVELOPING.md
  README.md
  docs/MONITORING.md
Due: prettier

chore: track .env.example (was caught by .env* ignore)
  .env.example
  .gitignore
Due: none

revert: remove in-app UGC moderation features (App Store Guideline 1.2 rebuttal)
  mobile/__tests__/app/Announcements.test.tsx
  mobile/__tests__/app/EventDetail.test.tsx
  mobile/__tests__/lib/moderation.test.ts
  mobile/app/(tabs)/news.tsx
  mobile/app/(tabs)/starred.tsx
  mobile/app/_layout.tsx
  mobile/app/event/[id].tsx
  mobile/app/help.tsx
  mobile/app/organization/[id].tsx
  mobile/components/Icon.tsx
  mobile/components/ReportModal.tsx
  mobile/components/WelcomeModal.tsx
  mobile/contexts/BlockContext.tsx
  mobile/hooks/useEventList.ts
  mobile/lib/moderation.ts
  src/pages/api/mobile/report.ts
  src/pages/terms.astro
Due: eslint, prettier

fix(build): pin streamx to 2.27.0 to fix Netlify ETARGET
  package-lock.json
  package.json
Due: none

fix(build): freeze bare-*/streamx family to aged versions (Netlify ETARGET)
  docs/MONITORING.md
  package-lock.json
  package.json
Due: prettier

fix(submit): normalize URLs and persist all fields on public submissions
  package.json
  src/components/AnnouncementForm.astro
  src/components/EventForm.astro
  src/lib/__tests__/announcement-staging.test.ts
  src/lib/__tests__/url-normalization.test.ts
  src/lib/announcement-staging.ts
  src/lib/validation.ts
  src/pages/api/announcements/submit.ts
Due: eslint, prettier

fix(session): floor cookie maxAge to satisfy cookie@1.x integer check
  src/lib/session.ts
Due: eslint, prettier

feat(activities): nested-tree AI import + reclassify/reparent in admin
  src/lib/ai/extract-activity.ts
  src/pages/admin.astro
  src/pages/admin/kid-activities.astro
  src/pages/api/admin/activity-import.ts
  src/pages/api/kid-activities/[id]/ical.ts
  src/pages/families/camps.astro
Due: eslint, prettier

feat(activities): quick-import button in admin + fuzzy program dedup
  src/lib/ai/extract-activity.ts
  src/pages/admin/kid-activities.astro
  src/pages/api/admin/activity-import.ts
Due: eslint, prettier

feat(activities): admin Merge action + name-only program dedup
  src/pages/admin/kid-activities.astro
  src/pages/api/admin/activity-import.ts
  src/pages/api/admin/kid-activities/[id]/merge.ts
Due: eslint, prettier

docs(events): design spec for local image upload (admin drag/drop)
  docs/superpowers/specs/2026-06-29-event-image-upload-design.md
Due: prettier

feat(events): add client drag/drop image upload helper
  src/scripts/image-upload-field.ts
Due: eslint, prettier

feat(events): drag/drop image upload in admin event modal
  src/components/ui/EditEventModal.astro
  src/pages/admin.astro
Due: none

chore(supabase): enable storage for local dev
  supabase/config.toml
Due: none

feat(events): add image upload validation helper
  package.json
  src/lib/__tests__/event-image-upload.test.ts
  src/lib/event-image-upload.ts
Due: eslint, prettier

feat(storage): add public event-images bucket migration
  supabase/migrations/20260629000000_create_event_images_bucket.sql
Due: none

docs(events): implementation plan for local image upload
  docs/superpowers/plans/2026-06-29-event-image-upload.md
Due: prettier

feat(events): add admin image upload endpoint
  src/pages/api/admin/events/upload-image.ts
Due: eslint, prettier

fix(events): upload image as raw binary, not multipart
  src/pages/api/admin/events/upload-image.ts
  src/scripts/image-upload-field.ts
Due: eslint, prettier

fix(events): downscale large images in browser before upload
  src/scripts/image-upload-field.ts
Due: eslint, prettier

fix(admin): gate approved-only actions off staged edit modal + parent-list refresh hint
  src/components/ui/EditEventModal.astro
  src/pages/admin.astro
Due: none

Path conditions:
  stylelint: any of: \.css$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(css|js|jsx|ts|tsx|html|md)$
