Repository e-lo/dertown: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: stylelint
        name: stylelint (CSS)
        entry: npm run lint:css -- --fix
        language: system
        files: "\\.css$"
      - id: eslint
        name: eslint (JS)
        entry: npm run lint:js -- --fix
        language: system
        files: "\\.(js|jsx|ts|tsx)$"
      - id: prettier
        name: prettier (format CSS/JS/HTML/MD)
        entry: npm run format -- --fix
        language: system
        files: "\\.(css|js|jsx|ts|tsx|html|md)$"

Fix: build linting errors by removing unused variables and functions
  ADULT_ACTIVITIES_GUIDE.md
  CALENDAR_TIMEZONE_SOLUTION.md
  DATA_MODEL_REFACTORING_PLAN.md
  KID_ACTIVITY_CALENDAR_EVENTS.md
  REFACTORING_RECOMMENDATION.md
  src/lib/calendar-utils-simple-test.ts
  src/lib/calendar-utils.test.ts
  src/lib/event-utils.ts
  src/lib/supabase.ts
  src/pages/api/admin/announcements-staged.ts
  src/pages/api/admin/announcements-staged/approve.ts
  src/pages/api/admin/announcements-staged/reject.ts
  src/pages/api/admin/events-staged.ts
  src/pages/api/admin/events-staged/approve.ts
  src/pages/api/admin/kid-activities/[id].ts
  src/pages/api/admin/kid-activities/[id]/activity-events.ts
  src/pages/api/admin/kid-activities/[id]/activity-events/[eventId].ts
  src/pages/api/admin/kid-activities/[id]/calendar-export.ts
  src/pages/api/admin/kid-activities/[id]/effective-location.ts
  src/pages/api/admin/kid-activities/[id]/meeting-patterns.ts
  src/pages/api/admin/kid-activities/[id]/meeting-patterns/[patternId].ts
  src/pages/api/admin/kid-activities/[id]/schedules.ts
  src/pages/api/admin/kid-activities/[id]/schedules/[scheduleId].ts
  src/pages/api/admin/kid-activities/index.ts
  src/pages/api/admin/protected-example.ts
  src/pages/api/announcements/submit.ts
  src/pages/api/auth/logout.ts
  src/pages/api/events/search.ts
  src/pages/api/kid-activities.ts
  src/pages/api/kid-activities/[id]/calendar-events.ts
  src/pages/api/kid-activities/[id]/calendar-exceptions.ts
  src/pages/api/kid-activities/[id]/meeting-patterns.ts
  src/pages/api/rss.xml.ts
  src/pages/families/activities.astro
  src/pages/index.astro
  src/pages/things-to-do.astro
Due: eslint, prettier

fix: try to fix finally the time zone bug.
  package-lock.json
  package.json
  src/lib/calendar-utils.ts
  src/pages/api/calendar/ical.ts
  src/pages/api/events/[id]/google.ts
  src/pages/api/events/[id]/ical.ts
  src/pages/api/events/[id]/outlook.ts
  src/pages/api/rss.xml.ts
Due: eslint, prettier

fix: timezone bug again
  Makefile
  package-lock.json
  package.json
  scripts/validate_timezone.mjs
  src/lib/calendar-utils.ts
  src/pages/api/calendar/ical.ts
  src/pages/api/events/[id]/google.ts
  src/pages/api/events/[id]/ical.ts
  src/pages/api/events/[id]/outlook.ts
  src/pages/api/rss.xml.ts
  src/pages/things-to-do.astro
Due: eslint, prettier

fix: Use toZonedTime instead of toDate
  package.json
  scripts/validate_timezone.mjs
  src/lib/calendar-utils.ts
Due: eslint, prettier

Update to use date-fns support for timzeone
  package-lock.json
  package.json
  src/lib/calendar-utils.ts
  src/pages/api/rss.xml.ts
Due: eslint, prettier

Update to use date-fns/tz itsead of date-fns-tz in calendar.astro
  src/components/Calendar.astro
Due: none

Add community resources and volunteering section
  src/components/Layout.astro
  src/components/Navbar.astro
  src/pages/community-resources.astro
  src/pages/things-to-do.astro
  src/styles/global.css
Due: stylelint, prettier

add more resources/things to do links
  src/pages/community-resources.astro
  src/pages/things-to-do.astro
Due: none

Add data from related tables to events
  src/lib/supabase.ts
Due: eslint, prettier

Add open graph data
  src/components/Layout.astro
  src/pages/about.astro
  src/pages/calendar-subscribe.astro
  src/pages/calendar.astro
  src/pages/events/[id].astro
  src/pages/index.astro
  src/pages/login.astro
  src/pages/privacy.astro
  src/pages/submit-announcement.astro
  src/pages/submit.astro
  src/pages/terms.astro
Due: none

add images
  public/images/silentdisco.jpeg
  public/images/stitchNwitch.png
Due: none

Removed pre-render for locations API
  src/pages/admin.astro
  src/pages/api/admin/events/create.ts
  src/pages/api/admin/locations.ts
Due: eslint, prettier

Fix autocomplete dropdown not displaying in admin modals
  src/pages/admin.astro
  src/styles/admin.css
Due: stylelint, prettier

Add markdown support for descriptions
  package-lock.json
  package.json
  src/lib/markdown-utils.ts
  src/pages/events/[id].astro
  tailwind.config.mjs
Due: eslint, prettier

feat: Add additional event fields to admin form; ability to view upcoming announcements
  src/components/ui/EditEventModal.astro
  src/pages/admin.astro
  src/pages/api/admin/announcements.ts
  src/pages/api/admin/announcements/[id].ts
  src/pages/api/admin/announcements/upcoming.ts
  src/pages/api/admin/events.ts
  src/pages/api/admin/events/create.ts
Due: eslint, prettier

feat: Add event series creation and improve admin event management
  ADULT_ACTIVITIES_GUIDE.md
  CALENDAR_TIMEZONE_SOLUTION.md
  DATA_MODEL_REFACTORING_PLAN.md
  DEPLOYMENT_AUTH_CHECKLIST.md
  DEVELOPING.md
  EMAIL_SETUP.md
  KID_ACTIVITY_CALENDAR_EVENTS.md
  PROJECT_REQUIREMENTS.md
  README.md
  REFACTORING_RECOMMENDATION.md
  TESTING_AUTH.md
  backups/db_dump.sql
  src/components/ui/EditEventModal.astro
  src/components/ui/SeriesModal.astro
  src/lib/__tests__/date-time-formatting.test.ts
  src/lib/supabase.ts
  src/pages/admin.astro
  src/pages/api/admin/events.ts
  src/pages/api/admin/events/bulk-create.ts
  src/pages/api/events/series/[parentId].ts
  src/pages/events/[id].astro
  src/styles/admin.css
Due: stylelint, eslint, prettier

Fix: overflow for carousel cards
  src/components/EventCarouselCard.astro
Due: none

feat: Add series management page with bulk editing and detail view
  src/pages/admin.astro
  src/pages/admin/series.astro
  src/pages/admin/series/[parentId].astro
  src/pages/api/admin/events/bulk-update.ts
  src/pages/api/admin/series.ts
Due: eslint, prettier

feat: Add calendar multi-picker to "Add Occurrences" modal
  src/pages/admin/series.astro
Due: none

add image
  public/images/stormopenhouse.jpg
Due: none
