Repository e-lo/dertown: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: stylelint
        name: stylelint (CSS)
        entry: npm run lint:css -- --fix
        language: system
        files: "\\.css$"
      - id: eslint
        name: eslint (JS)
        entry: npm run lint:js -- --fix
        language: system
        files: "\\.(js|jsx|ts|tsx)$"
      - id: prettier
        name: prettier (format CSS/JS/HTML/MD)
        entry: npm run format -- --fix
        language: system
        files: "\\.(css|js|jsx|ts|tsx|html|md)$"

fix: generate iCal locally to avoid SSL/URL dependency
  mobile/app/event/[id].tsx
  mobile/lib/icalUtils.ts
  mobile/lib/types.ts
  mobile/package-lock.json
  mobile/package.json
Due: eslint, prettier

feat: series callout, calendar improvements, markdown descriptions
  mobile/.env.example
  mobile/app.json
  mobile/app/(tabs)/starred.tsx
  mobile/app/_layout.tsx
  mobile/app/calendar-subscribe.tsx
  mobile/app/event/[id].tsx
  mobile/app/organization/[id].tsx
  mobile/app/webview.tsx
  mobile/components/Icon.tsx
  mobile/contexts/StarContext.tsx
  mobile/lib/api.ts
  mobile/lib/app-config.ts
  mobile/lib/icalUtils.ts
  mobile/lib/mapUtils.ts
  mobile/lib/stars.ts
  mobile/lib/types.ts
  mobile/package-lock.json
  mobile/package.json
  src/pages/api/events/[id]/related.ts
  src/pages/api/events/series/[parentId]/ical.ts
  src/pages/api/locations/[id]/ical.ts
  src/pages/api/mobile/followed/events.ts
  src/pages/api/mobile/organizations/[id].ts
  src/pages/api/organizations/[id]/ical.ts
Due: eslint, prettier

feat: two-layer cache for events and announcements
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/news.tsx
  mobile/hooks/useEventList.ts
  mobile/lib/cache.ts
Due: eslint, prettier

feat: Mapbox map tab — dark style, venue pins, event popups
  mobile/.env.example
  mobile/app.json
  mobile/app/(tabs)/map.tsx
  mobile/lib/api.ts
  mobile/package-lock.json
  mobile/package.json
Due: eslint, prettier

chore: app icons, splash screen, eas.json, push plugin
  mobile/app.json
  mobile/assets/adaptive-icon.png
  mobile/assets/icon.png
  mobile/assets/splash.png
  mobile/eas.json
Due: none

chore: add privacy policy URL to app.json
  mobile/app.json
Due: none

fix: add expo-font peer dep and clean up app.json schema errors
  mobile/app.json
  mobile/package-lock.json
  mobile/package.json
Due: none

fix: center Android tab bar icons vertically
  mobile/app/(tabs)/_layout.tsx
Due: eslint, prettier

fix: consistent tab bar height across all screens on Android
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/news.tsx
  mobile/app/(tabs)/starred.tsx
Due: eslint, prettier

feat: iPad support with max-width content layout
  mobile/app.json
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/news.tsx
  mobile/app/(tabs)/starred.tsx
  mobile/components/AppHeader.tsx
  mobile/lib/theme.ts
Due: eslint, prettier

fix: filled stars on iOS + map clustering
  mobile/app/(tabs)/map.tsx
  mobile/components/EventRow.tsx
  mobile/components/Icon.tsx
Due: eslint, prettier

feat: welcome modal + event report link
  mobile/app/_layout.tsx
  mobile/app/event/[id].tsx
  mobile/components/WelcomeModal.tsx
Due: eslint, prettier

feat: welcome tour + persistent Help & FAQ screen
  mobile/app/_layout.tsx
  mobile/app/help.tsx
  mobile/components/AppHeader.tsx
  mobile/components/WelcomeModal.tsx
Due: eslint, prettier

fix: use consistent canary color for all map venue pins
  mobile/app/(tabs)/map.tsx
Due: eslint, prettier

fix: note GitHub account requirement for bug/feature links
  mobile/app/help.tsx
Due: eslint, prettier

feat: add disclaimer and terms of use to website footer and mobile help screen
  mobile/app/help.tsx
  src/components/Footer.astro
Due: eslint, prettier

feat: add event sourcing explanation to help screen
  mobile/app/help.tsx
Due: eslint, prettier

feat: add org admin account info to about page and mobile help screen
  mobile/app/help.tsx
  src/pages/about.astro
Due: eslint, prettier

fix: remove map scale bar
  mobile/app/(tabs)/map.tsx
Due: eslint, prettier

feat: map day-window toggle (3 days / 10 days)
  mobile/app/(tabs)/map.tsx
Due: eslint, prettier

feat: add Submit an announcement button to news screen
  mobile/app/(tabs)/news.tsx
Due: eslint, prettier

fix: remove stale getCategoryColor reference in VenueSheet
  mobile/app/(tabs)/map.tsx
Due: eslint, prettier

feat: palatinate blue theme + palette cleanup
  mobile/app.json
  mobile/assets/adaptive-icon.png
  mobile/assets/feature-graphic.png
  mobile/assets/icon.png
  mobile/assets/splash.png
  mobile/components/AppHeader.tsx
  mobile/lib/theme.ts
  mobile/scripts/generate-app-assets.js
  src/components/MapboxMap.astro
  src/lib/config.ts
  src/styles/theme.css
Due: stylelint, eslint, prettier

fix: apply headerBackground to all non-event-detail screens
  mobile/app/_layout.tsx
  mobile/app/help.tsx
  mobile/app/organization/[id].tsx
  mobile/app/webview.tsx
Due: eslint, prettier

feat: add give-back event category to config
  src/lib/config.ts
Due: eslint, prettier

feat: add give-back event category CSS
  src/styles/theme.css
Due: stylelint, prettier

feat: add give-back variant to getCategoryBadgeVariant
  src/lib/event-utils.ts
Due: eslint, prettier

feat: add give-back color to calendar category map
  public/calendar.js
Due: eslint, prettier

feat: add Do Good page with volunteer opportunities and give-back calendar
  src/pages/do-good.astro
Due: none

fix: align do-good page with peer page patterns
  src/pages/do-good.astro
Due: none

feat: add Do Good nav link
  src/components/Navbar.astro
Due: none

feat: replace volunteering section with link to /do-good
  src/pages/things-to-do.astro
Due: none

feat: add Give Back tag seed migration
  supabase/migrations/20260605120000_seed_give_back_tag.sql
Due: none

chore(mobile): prepare app for App Store submission
  docs/mobile-deployment.md
  mobile/.env.example
  mobile/README.md
  mobile/app.json
  mobile/app/(tabs)/map.tsx
  mobile/app/(tabs)/news.tsx
  mobile/app/_layout.tsx
  mobile/app/event/[id].tsx
  mobile/app/help.tsx
  mobile/components/WelcomeModal.tsx
  mobile/lib/app-config.ts
  mobile/lib/icalUtils.ts
  mobile/package-lock.json
  mobile/package.json
Due: eslint, prettier

fix: use DROP+CREATE for public_announcements view to allow column reorder
  supabase/migrations/20260527100000_fix_public_announcements_view.sql
Due: none

fix(ios): add NSLocationWhenInUseUsageDescription for Mapbox
  mobile/app.json
Due: none

chore(eas): auto-increment build numbers on production builds
  mobile/eas.json
Due: none

fix: create announcements directly as published from admin
  src/pages/admin.astro
  src/pages/api/admin/announcements/create.ts
Due: eslint, prettier

fix: handle non-http URI schemes in normalizeUrl and silence openSettings errors
  mobile/lib/icalUtils.ts
  src/lib/scraper/normalize.ts
  src/pages/admin.astro
Due: eslint, prettier

feat: add Announcement mode to Quick Import
  src/lib/ai/extract-announcement.ts
  src/pages/admin.astro
  src/pages/api/admin/announcement-import.ts
Due: eslint, prettier
