Repository e-lo/dertown: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint, prettier

stylelint:
  name: stylelint (CSS)
  entry: npm run lint:css -- --fix
  language: system

eslint:
  name: eslint (JS)
  entry: npm run lint:js -- --fix
  language: system

prettier:
  name: prettier (format CSS/JS/HTML/MD)
  entry: npm run format -- --fix
  language: system

add image
  public/images/stormopenhouse.jpg
Due: none

add seasonal activities
  src/pages/things-to-do.astro
Due: none

Create lasttuesday.png
  public/images/lasttuesday.png
Due: none

Update MEND stats
  src/pages/community-resources.astro
  src/pages/index.astro
Due: none

Admin: session persistence, sortable list pages, detail-page modals, TS fixes
  package-lock.json
  package.json
  src/components/AdminAuthRefresh.astro
  src/env.d.ts
  src/lib/session.ts
  src/pages/admin.astro
  src/pages/admin/announcements.astro
  src/pages/admin/events/index.astro
  src/pages/admin/locations.astro
  src/pages/admin/organizations.astro
  src/pages/api/admin/announcements/list.ts
  src/pages/api/admin/events/list.ts
  src/pages/api/admin/events/search.ts
  src/pages/api/admin/locations.ts
  src/pages/api/admin/organizations.ts
  src/pages/api/auth/login.ts
  src/pages/api/auth/refresh.ts
  src/pages/events/[id].astro
  src/pages/locations/[id].astro
  src/pages/organizations/[id].astro
  src/styles/admin.css
Due: stylelint, eslint, prettier

fix: icons + event image layout; refactor admin tables to sortable-table
  src/components/Layout.astro
  src/lib/admin/sortable-table.ts
  src/pages/admin/events/index.astro
  src/pages/admin/locations.astro
  src/pages/admin/organizations.astro
  src/pages/events/[id].astro
  src/styles/global.css
  supabase/migrations/20260206140000_restore_public_events_view.sql
Due: stylelint, eslint, prettier

refactor: deduplicate EventData type, fix Supabase client, centralize constants
  src/lib/constants.ts
  src/lib/session.ts
  src/lib/validation.ts
  src/pages/api/announcements/submit.ts
  src/pages/api/auth/login.ts
  src/pages/api/auth/refresh.ts
  src/pages/api/calendar/ical.ts
  src/pages/api/events/submit.ts
  src/pages/api/rss.xml.ts
Due: eslint, prettier

refactor: extract AdminLayout component to deduplicate admin page boilerplate
  src/components/AdminLayout.astro
  src/pages/admin.astro
  src/pages/admin/announcements.astro
  src/pages/admin/events/[id].astro
  src/pages/admin/events/index.astro
  src/pages/admin/events/new.astro
  src/pages/admin/locations.astro
  src/pages/admin/organizations.astro
  src/pages/admin/series.astro
  src/pages/admin/series/[parentId].astro
Due: none

feat: add event scraper pipeline with 5 source extractors
  Makefile
  docs/feature-event-scraper.md
  package-lock.json
  package.json
  scrape/README.md
  scrape/sources.yaml
  src/lib/scraper/config.ts
  src/lib/scraper/db.ts
  src/lib/scraper/fetch.ts
  src/lib/scraper/filter.ts
  src/lib/scraper/index.ts
  src/lib/scraper/log.ts
  src/lib/scraper/match.ts
  src/lib/scraper/normalize.ts
  src/lib/scraper/parse-html.ts
  src/lib/scraper/parse-ical.ts
  src/lib/scraper/parse-json.ts
  src/lib/scraper/staged.ts
  src/lib/scraper/types.ts
  src/pages/api/admin/events-staged/approve.ts
  src/types/database.ts
  supabase/migrations/20260227120000_add_source_title.sql
Due: eslint, prettier

Add map-first events view with permalink filters
  src/components/GroupedEventList.astro
  src/lib/event-map.ts
  src/lib/supabase.ts
  src/pages/api/events/map.ts
  src/pages/events.astro
  src/pages/events/map.astro
Due: eslint, prettier

Fix map CSS fallback and material symbols on error pages
  src/components/ErrorLayout.astro
  src/pages/locations/[id].astro
  src/styles/global.css
Due: stylelint, prettier

fix: improve scraper matching — cross-source dedup, fuzzy locations, exclusion rules
  scrape/sources.yaml
  src/lib/scraper/db.ts
  src/lib/scraper/index.ts
  src/lib/scraper/match.ts
  src/lib/scraper/types.ts
  supabase/migrations/20260306120000_public_read_source_sites.sql
Due: eslint, prettier

Fix Leaflet marker icons on production maps
  src/components/ui/AddLocationModal.astro
  src/pages/locations/[id].astro
  src/pages/organizations/[id].astro
Due: none

Refactor admin auth checks out of layout component
  src/components/AdminLayout.astro
  src/pages/admin.astro
  src/pages/admin/announcements.astro
  src/pages/admin/events/[id].astro
  src/pages/admin/events/index.astro
  src/pages/admin/events/new.astro
  src/pages/admin/locations.astro
  src/pages/admin/organizations.astro
  src/pages/admin/series.astro
  src/pages/admin/series/[parentId].astro
Due: none

Redirect to login on admin dashboard 401 responses
  src/pages/admin.astro
Due: none

fix: tag matching, verbose output, and config-driven tag keywords
  scrape/sources.yaml
  src/lib/scraper/config.ts
  src/lib/scraper/index.ts
  src/lib/scraper/match.ts
  src/lib/scraper/types.ts
Due: eslint, prettier

Improve admin approvals UX and fix location map marker
  src/components/ui/AddLocationModal.astro
  src/pages/admin.astro
  src/styles/admin.css
Due: stylelint, prettier

Stack admin pending approval panels vertically
  src/styles/admin.css
Due: stylelint, prettier

Add admin duplicate detection and canonical reassignment flow
  src/lib/entity-matching.ts
  src/lib/scraper/match.ts
  src/pages/admin.astro
  src/pages/api/admin/locations.ts
  src/pages/api/admin/locations/resolve-duplicate.ts
  src/pages/api/admin/organizations.ts
  src/pages/api/admin/organizations/resolve-duplicate.ts
  src/styles/admin.css
Due: stylelint, eslint, prettier

Path conditions:
  stylelint: any of: \.css$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(css|js|jsx|ts|tsx|html|md)$
