Repository e-lo/dertown: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint, prettier

stylelint:
  name: stylelint (CSS)
  entry: npm run lint:css -- --fix
  language: system

eslint:
  name: eslint (JS)
  entry: npm run lint:js -- --fix
  language: system

prettier:
  name: prettier (format CSS/JS/HTML/MD)
  entry: npm run format -- --fix
  language: system

feat: kid-activities admin link, Quick Import with AI activity extraction
  src/lib/ai/extract-activity.ts
  src/lib/email-ingest/ingest-text.ts
  src/pages/admin.astro
  src/pages/api/admin/activity-import.ts
  src/pages/api/admin/paste-import.ts
Due: eslint, prettier

feat: add Kid Activities to View all nav on admin dashboard
  src/pages/admin.astro
Due: none

fix: exclude duplicate-status events from admin review queue
  src/pages/api/admin/events.ts
Due: eslint, prettier

fix(android): add Mapbox ProGuard keep rules to prevent blank map in release builds
  mobile/app.json
  mobile/package-lock.json
  mobile/package.json
Due: none

fix: quick import modal now opens correctly (add flex, not remove hidden)
  src/pages/admin.astro
Due: none

fix: quick import modal CSS — use design system classes (form-actions, btn-cancel, btn-save, modal-close-btn, form-input-base)
  .claude/launch.json
  mobile/app.json
  mobile/package.json
  src/pages/admin.astro
Due: none

fix: activity import now fetches URLs before AI extraction
  src/pages/api/admin/activity-import.ts
Due: eslint, prettier

docs: add kid-activities admin CRUD implementation plan
  docs/superpowers/plans/2026-06-08-kid-activities-admin-crud.md
Due: prettier

feat(kid-activities): add GET list + POST create API endpoints
  src/pages/api/admin/kid-activities.ts
Due: eslint, prettier

feat(kid-activities): add GET/PUT/DELETE single-record endpoints
  src/pages/api/admin/kid-activities/[id].ts
Due: eslint, prettier

fix(kid-activities): add effective-location + activity-events endpoints to stop 404 storm
  src/pages/api/admin/kid-activities/[id]/activity-events.ts
  src/pages/api/admin/kid-activities/[id]/effective-location.ts
Due: eslint, prettier

feat(kid-activities): wire up all CRUD JS functions — edit, create child, delete, duplicate, form submit, modal helpers
  src/pages/admin/kid-activities.astro
Due: none

fix: make /admin/announcements fully self-contained with inline edit/create/approve/archive
  .claude/launch.json
  src/pages/admin/announcements.astro
Due: none

feat(kid-activities): add bulk delete pending + Delete All Pending button to clear AI drafts
  src/pages/admin/kid-activities.astro
  src/pages/api/admin/kid-activities.ts
Due: eslint, prettier

fix(scraper): retain rejected staged events so scraper doesn't re-queue them
  src/lib/scraper/staged.ts
Due: eslint, prettier

feat: weekly Netlify scheduled function to purge stale rejected staged events
  netlify.toml
  netlify/functions/cleanup-staged-events.mts
Due: none

Add automated database backups and dependency update tracking
  .github/dependabot.yml
  .github/workflows/db-backup.yml
  DEVELOPING.md
Due: prettier

docs(kid-activities): consolidate PRD; mark two source docs superseded
  KID_ACTIVITY_CALENDAR_EVENTS.md
  docs/KID_ACTIVITIES_PRD.md
  docs/superpowers/plans/2026-06-08-kid-activities-admin-crud.md
Due: prettier

feat(kid-activities): P0 reconcile program_format enum to camp|league|class|workshop
  src/lib/ai/extract-activity.ts
  src/pages/families/programs.astro
  supabase/migrations/20260609120000_reconcile_program_format.sql
Due: eslint, prettier

feat(kid-activities): P1 backend — occurrence generator + effective-registration
  src/pages/api/admin/kid-activities/[id]/activity-events.ts
  src/pages/api/admin/kid-activities/[id]/effective-registration.ts
  src/types/database.ts
  supabase/migrations/20260609130000_add_get_effective_registration.sql
Due: eslint, prettier

feat(kid-activities): P1c admin UI — format selector, schedule wiring, occurrence mgmt
  src/pages/admin/kid-activities.astro
Due: none

feat(mobile): clarify add vs subscribe + Samsung Calendar note
  mobile/app/calendar-subscribe.tsx
  mobile/app/help.tsx
Due: eslint, prettier

feat(kid-activities): P2 importer emits PROGRAM -> weekly SESSION hierarchy
  src/lib/ai/extract-activity.ts
  src/pages/api/admin/activity-import.ts
Due: eslint, prettier

feat(kid-activities): P3a public program detail page + card links
  src/pages/families/camps.astro
  src/pages/families/programs.astro
  src/pages/families/programs/[id].astro
Due: none

feat(kid-activities): P3b date-window filter on camps page (workflow B)
  src/pages/families/camps.astro
Due: none

feat(kid-activities): P4 per-program iCal subscription feed + subscribe buttons
  src/pages/api/kid-activities/[id]/ical.ts
  src/pages/families/programs/[id].astro
Due: eslint, prettier

chore(families): consolidate kid-activities discovery; retire broken dual track
  src/components/ActivityScheduleForm.astro
  src/components/MeetingPatternForm.astro
  src/components/Navbar.astro
  src/components/kid-activities/ActivityCard.astro
  src/components/kid-activities/ActivityFilters.astro
  src/components/kid-activities/ProgramView.astro
  src/components/kid-activities/ScheduleView.astro
  src/components/kid-activities/ViewToggle.astro
  src/pages/api/activities.ts
  src/pages/api/kid-activities.ts
  src/pages/families/activities.astro
Due: eslint, prettier

chore(kid-activities): remove dead legacy schedule/meeting-pattern forms
  src/components/ActivityScheduleForm.astro
  src/components/MeetingPatternForm.astro
  src/pages/admin/kid-activities.astro
Due: none

fix(android): add-to-calendar landed on wrong date/time
  mobile/__tests__/lib/icalUtils.test.ts
  mobile/app.json
  mobile/lib/icalUtils.ts
  mobile/package-lock.json
  mobile/package.json
Due: eslint, prettier

fix(mobile): repair stale tests and misspelled ShapeSource cluster prop
  mobile/__tests__/app/Announcements.test.tsx
  mobile/__tests__/app/EventDetail.test.tsx
  mobile/__tests__/components/EventRow.test.tsx
  mobile/__tests__/lib/dateUtils.test.ts
  mobile/__tests__/lib/theme.test.ts
  mobile/app/(tabs)/map.tsx
Due: eslint, prettier

chore(android): bump versionCode to 3 (EAS auto-increment)
  mobile/app.json
Due: none

chore: commit stray plan doc and logo scripts, ignore generated/agent artifacts
  .gitignore
  docs/superpowers/plans/2026-05-26-mobile-plan-3-starred-tab.md
  mobile/scripts/generate-chosen-logo.js
  mobile/scripts/generate-color-exploration.js
  mobile/scripts/generate-feature-graphic.js
  mobile/scripts/generate-logo-variants.js
Due: eslint, prettier

fix(kid-activities): strip schedule-only fields from activities write (fixes end_time 500)
  package.json
  src/lib/__tests__/activity-fields.test.ts
  src/lib/activity-fields.ts
  src/pages/admin/kid-activities.astro
  src/pages/api/admin/kid-activities.ts
  src/pages/api/admin/kid-activities/[id].ts
Due: eslint, prettier

fix(kid-activities): make effective-location resilient (stop 500 storm)
  src/pages/api/admin/kid-activities/[id]/effective-location.ts
Due: eslint, prettier

fix(deps): pin @astrojs/netlify to ^5.5.4 (Astro 4 compat) — unblocks deploys
  package-lock.json
  package.json
Due: none

fix(mobile): restore Expo SDK 54-compatible dependency versions
  .github/dependabot.yml
  mobile/package-lock.json
  mobile/package.json
Due: none

chore(android): bump versionCode to 4 (EAS auto-increment)
  mobile/app.json
Due: none

chore(astro): upgrade to Astro 5 + @astrojs/netlify v6; drop unused solid
  astro.config.mjs
  package-lock.json
  package.json
Due: none

chore(tailwind): migrate to Tailwind v4 via @tailwindcss/vite
  astro.config.mjs
  docs/superpowers/plans/2026-05-18-calendar-redesign.md
  package-lock.json
  package.json
  src/components/AdminLayout.astro
  src/components/EventHeroCarousel.astro
  src/components/EventListCard.astro
  src/components/Navbar.astro
  src/components/ui/SeriesModal.astro
  src/pages/about.astro
  src/pages/admin.astro
  src/pages/admin/announcements.astro
  src/pages/admin/events/[id].astro
  src/pages/admin/events/merge.astro
  src/pages/admin/events/new.astro
  src/pages/admin/series.astro
  src/pages/admin/series/[parentId].astro
  src/pages/calendar-subscribe.astro
  src/pages/events/[id].astro
  src/pages/families/school.astro
  src/pages/index.astro
  src/pages/locations/[id].astro
  src/pages/organizations/[id].astro
  src/pages/privacy.astro
  src/pages/submit-announcement.astro
  src/pages/submit.astro
  src/pages/submit/thank-you.astro
  src/pages/terms.astro
  src/pages/things-to-do.astro
  src/styles/admin.css
  src/styles/global.css
Due: stylelint, prettier

Path conditions:
  stylelint: any of: \.css$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(css|js|jsx|ts|tsx|html|md)$
