Repository e-lo/dertown: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint, prettier

stylelint:
  name: stylelint (CSS)
  entry: npm run lint:css -- --fix
  language: system

eslint:
  name: eslint (JS)
  entry: npm run lint:js -- --fix
  language: system

prettier:
  name: prettier (format CSS/JS/HTML/MD)
  entry: npm run format -- --fix
  language: system

feat(events): child instances inherit empty fields from their series parent
  src/lib/supabase.ts
  src/pages/events/[id].astro
Due: eslint, prettier

fix(admin): always surface existing series parents in parent autocomplete
  src/pages/api/admin/parent-events.ts
Due: eslint, prettier

fix(events): wire up Merge button on the event detail page edit modal
  src/pages/events/[id].astro
Due: none

fix(admin): hide Merge button on the new-event page
  src/components/ui/EditEventModal.astro
  src/pages/admin/events/new.astro
Due: none

fix(series): apply-per-field editing so normalizing instances works
  src/pages/admin/series.astro
Due: none

feat(scraper): delete past pending events before each write-mode scrape
  src/lib/scraper/cleanup.ts
  src/lib/scraper/index.ts
Due: eslint, prettier

fix(scraper): paginate dedup reference load past PostgREST 1000-row cap
  package.json
  src/lib/__tests__/scraper-reference-pagination.test.ts
  src/lib/scraper/match.ts
Due: eslint, prettier

fix(scraper): read iCal date on local basis so evening events keep their day
  package.json
  src/lib/__tests__/scraper-ical-timezone.test.ts
  src/lib/scraper/parse-ical.ts
Due: eslint, prettier

fix(kid-activities): don't insert client-supplied id on create
  src/pages/api/admin/kid-activities.ts
Due: eslint, prettier

docs(scraper): add Cascade athletics scraper design spec
  docs/superpowers/specs/2026-07-27-cascade-athletics-scraper-design.md
Due: prettier

fix(kid-activities): populate location dropdown (API returns a bare array)
  src/pages/admin/kid-activities.astro
Due: none

docs(scraper): add Cascade athletics scraper implementation plan
  docs/superpowers/plans/2026-07-27-cascade-athletics-scraper.md
Due: prettier

feat(scraper): add default_image field to SourceConfig
  src/lib/scraper/types.ts
Due: eslint, prettier

feat(scraper): add currentSchoolYear helper for cascade athletics
  package.json
  src/lib/__tests__/scraper-cascade-discovery.test.ts
  src/lib/scraper/parse-cascade.ts
Due: eslint, prettier

feat(scraper): discover cascade varsity teams from flight payload
  src/lib/__tests__/scraper-cascade-discovery.test.ts
  src/lib/scraper/parse-cascade.ts
Due: eslint, prettier

feat(scraper): extract cascade home varsity games from team pages
  package.json
  src/lib/__tests__/scraper-cascade-cards.test.ts
  src/lib/scraper/parse-cascade.ts
  src/lib/scraper/parse-html.ts
Due: eslint, prettier

fix(kid-activities): gear info now loads on edit and saves correctly
  src/pages/admin/kid-activities.astro
Due: none

feat(scraper): add fetchCascadeAthletics orchestrator
  src/lib/scraper/parse-cascade.ts
Due: eslint, prettier

feat(scraper): wire cascade-athletics self-fetching source
  scrape/sources.yaml
  src/lib/scraper/index.ts
Due: eslint, prettier

fix(scraper): bound cascade team-discovery window to next team object
  src/lib/__tests__/scraper-cascade-discovery.test.ts
  src/lib/scraper/parse-cascade.ts
Due: eslint, prettier

docs(scraper): document cascade-athletics source
  scrape/README.md
Due: prettier

fix(scraper): detect cascade home/away from the Home badge, not name order
  src/lib/__tests__/scraper-cascade-cards.test.ts
  src/lib/scraper/parse-cascade.ts
Due: eslint, prettier

test(scraper): cover escaped flight payload; trim sources.yaml trailing newline
  scrape/sources.yaml
  src/lib/__tests__/scraper-cascade-discovery.test.ts
Due: eslint, prettier

fix(admin): make Duplicate on the event page create a copy, not edit the original
  package.json
  src/lib/__tests__/duplicate-event-wiring.test.ts
  src/pages/admin/events/[id].astro
  src/pages/events/[id].astro
Due: eslint, prettier

fix(android): add-to-calendar wrote to a non-syncing local calendar
  mobile/__tests__/lib/icalUtils.test.ts
  mobile/lib/icalUtils.ts
Due: eslint, prettier

chore(android): bump versionCode to 6 (EAS auto-increment)
  mobile/app.json
Due: none

chore(seo): add robots.txt
  public/robots.txt
Due: none

perf(netlify): CDN-cache public pages and feeds to cut function invocations
  astro.config.mjs
  mobile/lib/api.ts
  mobile/lib/app-config.ts
  mobile/lib/icalUtils.ts
  package-lock.json
  package.json
  src/components/AdminLayout.astro
  src/lib/cache.ts
  src/lib/config.ts
  src/lib/site.ts
  src/pages/404.astro
  src/pages/500.astro
  src/pages/about.astro
  src/pages/api/admin/purge-cache.ts
  src/pages/api/calendar/ical.ts
  src/pages/api/events/[id]/ical.ts
  src/pages/api/events/series/[parentId]/ical.ts
  src/pages/api/kid-activities/[id]/ical.ts
  src/pages/api/locations/[id]/ical.ts
  src/pages/api/organizations/[id]/ical.ts
  src/pages/api/rss.xml.ts
  src/pages/calendar-subscribe.astro
  src/pages/calendar.astro
  src/pages/community-resources.astro
  src/pages/do-good.astro
  src/pages/events.astro
  src/pages/events/[id].astro
  src/pages/events/map.astro
  src/pages/families/activities.astro
  src/pages/families/after-school-activities.astro
  src/pages/families/camps.astro
  src/pages/families/programs.astro
  src/pages/families/programs/[id].astro
  src/pages/families/school.astro
  src/pages/index.astro
  src/pages/locations/[id].astro
  src/pages/organizations/[id].astro
  src/pages/privacy.astro
  src/pages/terms.astro
  src/pages/things-to-do.astro
Due: eslint, prettier

feat(scraper): add pagination support for multi-page event sources
  scrape/sources.yaml
  src/lib/scraper/index.ts
  src/lib/scraper/types.ts
Due: eslint, prettier

feat(scraper): extract event dates from detail pages
  scrape/sources.yaml
  src/lib/scraper/enrich.ts
  src/lib/scraper/index.ts
  src/lib/scraper/parse-html.ts
  src/lib/scraper/types.ts
Due: eslint, prettier

fix(scraper): fix Ski Leavenworth parser to handle nested datetime structure
  .claude/settings.json
  package.json
  src/components/ui/AddLocationModal.astro
  src/components/ui/AddOrganizationModal.astro
  src/lib/__tests__/auth-cookie-reading.test.ts
  src/lib/__tests__/autocomplete-dropdown-wiring.test.ts
  src/lib/auth-cookies.ts
  src/lib/scraper/fetch.ts
  src/lib/scraper/parse-html.ts
  src/lib/session.ts
  src/pages/admin.astro
  src/pages/admin/events/index.astro
  src/pages/events/[id].astro
Due: eslint, prettier

fix(scraper): Ski Leavenworth pagination is 0-indexed; cap descriptions at DB limit
  scrape/sources.yaml
  src/lib/scraper/fetch.ts
  src/lib/scraper/index.ts
  src/lib/scraper/types.ts
Due: eslint, prettier

fix(mobile): handle mailto:/tel: links when no app can open them
  mobile/__tests__/lib/linkingUtils.test.ts
  mobile/app/event/[id].tsx
  mobile/app/help.tsx
  mobile/app/organization/[id].tsx
  mobile/lib/linkingUtils.ts
Due: eslint, prettier

chore(mobile): guard test runner against stale node_modules; add mobile CI job
  .github/workflows/ci.yml
  mobile/README.md
  mobile/__tests__/app/Announcements.test.tsx
  mobile/package.json
  mobile/scripts/check-deps-in-sync.js
Due: eslint, prettier

feat(mobile): add expo-updates for over-the-air JS fixes
  docs/mobile-deployment.md
  mobile/app.json
  mobile/eas.json
  mobile/metro.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/scripts/publish-update.js
Due: eslint, prettier

feat(families): fall signup updates, session-level registration, class types per session
  src/pages/admin/kid-activities.astro
  src/pages/api/kid-activities/[id]/ical.ts
  src/pages/families/after-school-activities.astro
  src/pages/families/programs.astro
  src/pages/families/programs/[id].astro
  src/types/database.ts
  supabase/migrations/20260910120000_add_available_class_type_ids.sql
Due: eslint, prettier

chore(db): drop six unused SQL functions; fix org merge repointing kid_activities
  src/pages/api/admin/kid-activities/[id]/effective-location.ts
  src/pages/api/admin/organizations/resolve-duplicate.ts
  supabase/migrations/20260910130000_drop_unused_functions.sql
Due: eslint, prettier

chore(db): tighten RLS to has_admin_access(); drop anon-write and blanket-read policies
  src/pages/api/announcements/index.ts
  supabase/migrations/20260910140000_tighten_rls.sql
Due: eslint, prettier

fix(mobile): register Sentry plugin under its documented name
  mobile/app.json
Due: none

docs(events): design spec for grouping pending events as a series
  docs/superpowers/specs/2026-09-10-group-events-as-series-design.md
  src/pages/api/kid-activities.ts
Due: eslint, prettier

Path conditions:
  stylelint: any of: \.css$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(css|js|jsx|ts|tsx|html|md)$
