Repository e-lo/dertown: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint, prettier

stylelint:
  name: stylelint (CSS)
  entry: npm run lint:css -- --fix
  language: system

eslint:
  name: eslint (JS)
  entry: npm run lint:js -- --fix
  language: system

prettier:
  name: prettier (format CSS/JS/HTML/MD)
  entry: npm run format -- --fix
  language: system

add admin seeding migration and endpoint
  src/pages/api/admin/seed-admin.ts
  supabase/migrations/20260430000005_seed_admin_permissions.sql
Due: eslint, prettier

fix: use correct admin email dertownleavenworth@gmail.com for seeding
  src/pages/api/admin/users.ts
  supabase/migrations/20260430000003_add_user_permissions_table.sql
  supabase/migrations/20260430000005_seed_admin_permissions.sql
Due: eslint, prettier

fix: resolve RLS circular dependency on user_permissions table
  supabase/migrations/20260430000006_fix_user_permissions_rls.sql
Due: none

Add excludes to reduce admin workload
  scrape/sources.yaml
Due: none

debug: add logging to session cookie retrieval
  src/lib/session.ts
Due: eslint, prettier

fix: pass raw cookie header to checkAdminAccess on SSR pages
  src/lib/session.ts
  src/pages/events/[id].astro
Due: eslint, prettier

cookie test
  src/lib/session.ts
Due: eslint, prettier

fix: edit button auth check + registration link email support
  src/pages/admin/events/[id].astro
  src/pages/events/[id].astro
Due: none

fix: consistent cookie reads + eager reference data load
  src/pages/events/[id].astro
  src/pages/locations/[id].astro
  src/pages/organizations/[id].astro
Due: none

feat: org-scoped access control for org_editor role
  src/lib/api-utils.ts
  src/pages/api/admin/announcements.ts
  src/pages/api/admin/events.ts
  src/pages/api/admin/organizations.ts
  src/pages/api/admin/series.ts
Due: eslint, prettier

feat: org-scoped RLS policies for defense-in-depth
  supabase/migrations/20260430000007_rls_org_scoped_policies.sql
Due: none

fix: add type="module" to map script to enable ES6 imports
  .claude/launch.json
  src/pages/events/map.astro
Due: none

feat: add admin user permissions management UI
  src/pages/admin.astro
  src/pages/admin/users.astro
  src/pages/api/admin/users.ts
Due: eslint, prettier

fix: user permissions UI polish and org management
  src/pages/admin/users.astro
  src/pages/api/admin/user-orgs.ts
  src/pages/api/admin/users.ts
Due: eslint, prettier

feat: auto-invite unregistered users when granting permissions
  src/pages/admin/users.astro
  src/pages/api/admin/users.ts
Due: eslint, prettier

feat: centralized email allowlist controls who can create accounts
  src/pages/admin/users.astro
  src/pages/api/admin/email-allowlist.ts
  src/pages/api/admin/users.ts
  src/pages/api/auth/register.ts
  supabase/migrations/20260515000000_add_email_allowlist.sql
Due: eslint, prettier

feat: manual invite flow — admin controls when invite email is sent
  src/pages/admin/users.astro
  src/pages/api/admin/send-invite.ts
  src/pages/api/admin/users.ts
  src/pages/register.astro
Due: eslint, prettier

fix: pass redirectTo in invite so link uses current server, not localhost
  src/pages/api/admin/send-invite.ts
Due: eslint, prettier

fix: don't show/attempt invite for already-active accounts
  src/pages/admin/users.astro
  src/pages/api/admin/send-invite.ts
Due: eslint, prettier

feat: add /update-password page for password reset flow
  src/pages/update-password.astro
Due: none

fix: improve forgot-password error handling and redirectTo construction
  src/pages/api/auth/forgot-password.ts
Due: eslint, prettier

fix: don't show link-error and password form simultaneously on update-password
  src/pages/update-password.astro
Due: none

fix: stack organizations one per line in users table
  src/pages/admin/users.astro
Due: none

refactor: DRY users table to use shared admin sortable-table pattern
  src/pages/admin/users.astro
Due: none

fix: scope event visibility and write access by org for org editors
  src/pages/api/admin/events-staged.ts
  src/pages/api/admin/events/approve.ts
  src/pages/api/admin/events/list.ts
  src/pages/api/admin/events/reject.ts
  src/pages/api/admin/events/search.ts
Due: eslint, prettier

fix: enforce org-scoped access control across all admin endpoints
  src/lib/api-utils.ts
  src/pages/admin/kid-activities.astro
  src/pages/admin/organizations/[id]/users.astro
  src/pages/api/admin/announcements-staged.ts
  src/pages/api/admin/announcements-staged/approve.ts
  src/pages/api/admin/announcements-staged/edit.ts
  src/pages/api/admin/announcements-staged/reject.ts
  src/pages/api/admin/announcements/[id].ts
  src/pages/api/admin/announcements/approve.ts
  src/pages/api/admin/announcements/list.ts
  src/pages/api/admin/announcements/reject.ts
  src/pages/api/admin/announcements/upcoming.ts
  src/pages/api/admin/events-staged/approve.ts
  src/pages/api/admin/events-staged/clear.ts
  src/pages/api/admin/events-staged/edit.ts
  src/pages/api/admin/events-staged/reject.ts
  src/pages/api/admin/events/[id].ts
  src/pages/api/admin/events/bulk-create.ts
  src/pages/api/admin/events/bulk-update.ts
  src/pages/api/admin/events/create.ts
  src/pages/api/admin/events/incomplete.ts
  src/pages/api/admin/locations/resolve-duplicate.ts
  src/pages/api/admin/organizations/[id].ts
  src/pages/api/admin/organizations/resolve-duplicate.ts
  src/pages/api/admin/parent-events.ts
Due: eslint, prettier

fix: close remaining permission gaps found in arch review
  src/lib/api-utils.ts
  src/lib/session.ts
  src/pages/api/admin/announcements-staged.ts
  src/pages/api/admin/org-users.ts
  src/pages/api/admin/user-orgs.ts
  supabase/migrations/20260518000000_fix_stale_rls_policies.sql
Due: eslint, prettier

Guard event edit page: show access-denied message for org editors without permission
  src/pages/admin/events/[id].astro
Due: none

Handle 403 on announcements-staged gracefully for org editors
  src/pages/admin.astro
Due: none

Allow org editors to publish events for their own organizations directly
  src/pages/api/admin/events.ts
Due: eslint, prettier

Return to originating admin page after saving/closing event edit
  src/pages/admin/events/[id].astro
Due: none

Allow org editors to approve/reject their own organization's events
  src/pages/api/admin/events/approve.ts
  src/pages/api/admin/events/reject.ts
Due: eslint, prettier

Allow org editors to approve/reject staged events for their organization
  src/pages/api/admin/events-staged/approve.ts
  src/pages/api/admin/events-staged/reject.ts
Due: eslint, prettier

feat: add calendar v2 CSS foundation
  src/styles/components.css
Due: stylelint, prettier

fix: use CSS variable for palatinate blue in calendar subbar and filter
  src/styles/components.css
Due: stylelint, prettier

feat: add CalendarV2 Astro component shell
  src/components/CalendarV2.astro
Due: none

fix: expose title prop as data-title attribute on calendar container
  src/components/CalendarV2.astro
Due: none

feat: wire calendar.astro to CalendarV2 component
  src/components/CalendarV2.astro
  src/pages/calendar.astro
Due: none

fix: show error fallback in CalendarV2 when event fetch fails
  src/components/CalendarV2.astro
Due: none

feat: add calendar-v2.js state, date utilities, and init
  public/calendar-v2.js
Due: eslint, prettier

Path conditions:
  stylelint: any of: \.css$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(css|js|jsx|ts|tsx|html|md)$
