Repository e-lo/dertown: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: stylelint
        name: stylelint (CSS)
        entry: npm run lint:css -- --fix
        language: system
        files: "\\.css$"
      - id: eslint
        name: eslint (JS)
        entry: npm run lint:js -- --fix
        language: system
        files: "\\.(js|jsx|ts|tsx)$"
      - id: prettier
        name: prettier (format CSS/JS/HTML/MD)
        entry: npm run format -- --fix
        language: system
        files: "\\.(css|js|jsx|ts|tsx|html|md)$"

Fix default link in rss feed.
  src/pages/api/rss.xml.ts
Due: eslint, prettier

Fix dates for RSS feed.
  package-lock.json
  src/lib/supabase.ts
  src/pages/api/rss.xml.ts
Due: eslint, prettier

Fix ical feed
  src/pages/api/calendar/ical.ts
  src/pages/api/rss.xml.ts
  src/pages/ical.astro
Due: eslint, prettier

Try to add website to description field in ical.
  src/pages/api/calendar/ical.ts
Due: eslint, prettier

Add School...
  src/components/Navbar.astro
  src/pages/families/school.astro
  src/styles/theme.css
Due: stylelint, prettier

Add activities
  src/pages/families/activities.astro
Due: none

Add CSD volunteer form link
  src/pages/families/school.astro
Due: none

Update to use components
  src/components/ui/Accordian.astro
  src/components/ui/Disclaimer.astro
  src/components/ui/LinkBox.astro
  src/components/ui/LinkListItem.astro
  src/components/ui/QuickNavItem.astro
  src/components/ui/SectionHeader.astro
  src/lib/event-utils.ts
  src/lib/supabase.ts
  src/pages/api/calendar/ical.ts
  src/pages/api/rss.xml.ts
  src/pages/families/activities.astro
  src/pages/families/school.astro
  src/styles/components.css
  src/styles/theme.css
Due: stylelint, eslint, prettier

Admin form updates
  src/pages/admin/kid-activities.astro
Due: none

Troubleshooting authentication for admin user interface for kids activities.
  src/pages/admin/kid-activities.astro
  src/pages/api/admin/kid-activities/[id].ts
  src/pages/api/admin/kid-activities/[id]/activity-events.ts
  src/pages/api/admin/kid-activities/[id]/activity-events/[eventId].ts
  src/pages/api/admin/kid-activities/[id]/calendar-export.ts
  src/pages/api/admin/kid-activities/index.ts
  src/pages/api/auth/login.ts
  src/pages/login.astro
Due: eslint, prettier

Add after school activities section
  src/components/Navbar.astro
  src/pages/families/after-school-activities.astro
  src/styles/components.css
Due: stylelint, prettier

Add additional ASA
  src/pages/families/after-school-activities.astro
  src/styles/components.css
Due: stylelint, prettier

update lego league
  src/pages/families/after-school-activities.astro
Due: none

add girls on the run
  src/pages/families/after-school-activities.astro
Due: none

update basketball
  src/pages/things-to-do.astro
Due: none

Bug fix: timezones
  CALENDAR_TIMEZONE_SOLUTION.md
  backups/db_dump.sql
  package-lock.json
  package.json
  src/lib/calendar-utils.ts
  src/lib/event-utils.ts
Due: eslint, prettier

Bugfix: again try to fix timezone bug
  public/fullcalendar-init.js
  src/components/Calendar.astro
  src/components/TagFilter.astro
  src/lib/calendar-utils.ts
  src/lib/event-utils.ts
  src/lib/supabase.ts
  src/pages/api/calendar/ical.ts
  src/pages/api/events/[id]/google.ts
  src/pages/api/events/[id]/ical.ts
  src/pages/api/events/[id]/outlook.ts
  src/pages/calendar.astro
  src/pages/events.astro
  test-supabase.js
Due: eslint, prettier

remove unecessary debug script
  src/pages/api/debug-event.ts
Due: eslint, prettier

Fix: build linting errors by removing unused variables and functions
  ADULT_ACTIVITIES_GUIDE.md
  CALENDAR_TIMEZONE_SOLUTION.md
  DATA_MODEL_REFACTORING_PLAN.md
  KID_ACTIVITY_CALENDAR_EVENTS.md
  REFACTORING_RECOMMENDATION.md
  src/lib/calendar-utils-simple-test.ts
  src/lib/calendar-utils.test.ts
  src/lib/event-utils.ts
  src/lib/supabase.ts
  src/pages/api/admin/announcements-staged.ts
  src/pages/api/admin/announcements-staged/approve.ts
  src/pages/api/admin/announcements-staged/reject.ts
  src/pages/api/admin/events-staged.ts
  src/pages/api/admin/events-staged/approve.ts
  src/pages/api/admin/kid-activities/[id].ts
  src/pages/api/admin/kid-activities/[id]/activity-events.ts
  src/pages/api/admin/kid-activities/[id]/activity-events/[eventId].ts
  src/pages/api/admin/kid-activities/[id]/calendar-export.ts
  src/pages/api/admin/kid-activities/[id]/effective-location.ts
  src/pages/api/admin/kid-activities/[id]/meeting-patterns.ts
  src/pages/api/admin/kid-activities/[id]/meeting-patterns/[patternId].ts
  src/pages/api/admin/kid-activities/[id]/schedules.ts
  src/pages/api/admin/kid-activities/[id]/schedules/[scheduleId].ts
  src/pages/api/admin/kid-activities/index.ts
  src/pages/api/admin/protected-example.ts
  src/pages/api/announcements/submit.ts
  src/pages/api/auth/logout.ts
  src/pages/api/events/search.ts
  src/pages/api/kid-activities.ts
  src/pages/api/kid-activities/[id]/calendar-events.ts
  src/pages/api/kid-activities/[id]/calendar-exceptions.ts
  src/pages/api/kid-activities/[id]/meeting-patterns.ts
  src/pages/api/rss.xml.ts
  src/pages/families/activities.astro
  src/pages/index.astro
  src/pages/things-to-do.astro
Due: eslint, prettier
