Repository e-lo/dertown: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: stylelint
        name: stylelint (CSS)
        entry: npm run lint:css -- --fix
        language: system
        files: "\\.css$"
      - id: eslint
        name: eslint (JS)
        entry: npm run lint:js -- --fix
        language: system
        files: "\\.(js|jsx|ts|tsx)$"
      - id: prettier
        name: prettier (format CSS/JS/HTML/MD)
        entry: npm run format -- --fix
        language: system
        files: "\\.(css|js|jsx|ts|tsx|html|md)$"

Fix ingest: use pydantic validators for location/org conversion, prevent assignment errors
  dertown/settings/dev.py
  events/google_calendar.py
  events/management/commands/check_event_updates.py
  events/management/commands/import_ics_events.py
  events/migrations/0009_event_details_outdated_cached_and_more.py
  events/models.py
  events/templates/components/event_list_card.html
  events/utils.py
  events/wagtail_hooks.py
  ingest/html_utils.py
  ingest/management/commands/import_events_from_web.py
  ingest/migrations/0003_alter_sourcesite_extraction_function.py
  pyproject.toml
  requirements.txt
  settings/base.py
  uv.lock
Due: prettier

add logging to manual import screen and adjust css so that it is more compact and legible.
  dertown/static/css/admin.css
  dertown/wagtail_hooks.py
  ingest/wagtail_hooks.py
Due: stylelint, prettier

fix marquee and carousel scrolling; add back featured tag
  dertown/static/css/dertown.css
  events/static/events/css/announcements.css
  events/static/events/css/event_card.css
  events/static/events/css/event_carousel.css
  events/static/events/js/announcements_marquee.js
  events/static/events/js/event_carousel.js
  events/templates/components/announcement_marquee.html
  events/templates/components/event_card.html
  events/templates/components/event_carousel.html
  events/templates/components/event_list_card.html
  events/templates/events/home_page.html
Due: stylelint, eslint, prettier

add review viewsets
  events/admin.py
  events/models.py
  events/views.py
  events/wagtail_hooks.py
  ingest/admin.py
  ingest/management/commands/import_ics_events.py
  ingest/wagtail_hooks.py
Due: none

chore: complete Supabase setup phase, add events_staged workflow, document local RLS/storage issues
  .vscode/extensions.json
  .vscode/settings.json
  DEVELOPING.md
  PROJECT_REQUIREMENTS.md
  TODO.md
  env.example
  package-lock.json
  package.json
  src/lib/supabase.ts
  supabase/.gitignore
  supabase/config.toml
  supabase/migrations/20240616000001_initial_schema.sql
  supabase/migrations/20240616000002_rls_policies.sql
  supabase/migrations/20240616000003_storage_buckets.sql
  supabase/migrations/20240616000004_fix_rls_and_storage.sql
  supabase/migrations/20240616000005_events_staged.sql
  supabase/seed.sql
  test-supabase.js
Due: eslint, prettier

chore: complete Phase 1.3 core dependencies (FullCalendar, env, dev/prod envs)
  DEVELOPING.md
  README.md
  TODO.md
  package-lock.json
  package.json
  src/components/FullCalendar.astro.js
  src/lib/supabase.ts
  src/pages/fullcalendar-init.js
  src/pages/index.astro
Due: eslint, prettier

fix: try addressing fullcalendar loading order
  TODO.md
  public/fullcalendar-init.js
  src/pages/index.astro
Due: eslint, prettier

fix trailing semi colon
  src/pages/index.astro
Due: none

remove duplicate js file
  src/pages/fullcalendar-init.js
Due: eslint, prettier

feat: add essential development tools with makefile and python utilities
  .cursor/rules.md
  .gitignore
  DEVELOPING.md
  Makefile
  PROJECT_REQUIREMENTS.md
  TODO.md
  extract_dump_data.py
  scripts/clean_seed_data.py
  scripts/dev_utils.py
  scripts/models.py
  scripts/seed_database.py
  scripts/test_postgres_null_validator.py
  scripts/transform_and_upload.py
  scripts/validation.py
  src/lib/supabase.py
  src/lib/supabase.ts
  src/pages/index.astro
  src/types/database.ts
  supabase/seed.sql
Due: eslint, prettier

refactor: switch to database-first validation, remove schema codegen, and upload static data
  Makefile
  PROJECT_REQUIREMENTS.md
  TODO.md
  package-lock.json
  package.json
  scripts/data_manager.py
  scripts/validation.py
  src/components/CalendarView.astro
  src/components/EventCard.astro
  src/components/EventForm.astro
  src/lib/validation.ts
  supabase/migrations/20240616000006_add_validation_constraints.sql
  supabase/migrations/20240616000007_enhance_rls_validation.sql
Due: eslint, prettier

feat: Complete Phase 3 - Core Data Models & API
  src/pages/admin.astro
  src/pages/admin.ts
  src/pages/api/admin/events-staged.ts
  src/pages/api/admin/events-staged/approve.ts
  src/pages/api/admin/events-staged/reject.ts
  src/pages/api/admin/protected-example.ts
  src/pages/api/calendar/events.ts
  src/pages/api/events/search.ts
  src/pages/api/events/submit.ts
  src/pages/login.astro
Due: eslint, prettier

feat: Complete Phase 4 - Public-Facing UI Components
  TODO.md
  src/components/AnnouncementMarquee.astro
  src/components/Breadcrumb.astro
  src/components/CalendarView.astro
  src/components/EventList.astro
  src/components/Layout.astro
  src/pages/index.astro
Due: prettier

fix: resolve Tailwind CSS loading issues and complete Phase 1 setup
  .gitignore
  TODO.md
  astro.config.mjs
  src/components/AnnouncementMarquee.astro
  src/components/Breadcrumb.astro
  src/components/EventCard.astro
  src/components/EventList.astro
  src/components/Layout.astro
  src/lib/supabase.ts
  src/pages/admin.ts
  src/pages/announcements.astro
  src/pages/api/calendar/google.ts
  src/pages/api/calendar/ical.ts
  src/pages/api/calendar/outlook.ts
  src/pages/api/rss.xml.ts
  src/pages/calendar.astro
  src/pages/events.astro
  src/pages/index.astro
  src/styles/global.css
  tailwind.config.js
Due: stylelint, eslint, prettier

feat(events): Redesign event list card for modern UI
  TODO.md
  package-lock.json
  package.json
  scripts/assign_tags_to_events.py
  scripts/test_kebab.js
  scripts/test_kebab.ts
  scripts/validate_theme_colors.ts
  src/components/CalendarView.astro
  src/components/EventCard.astro
  src/components/EventCarouselCard.astro
  src/components/EventList.astro
  src/components/EventListCard.astro
  src/lib/theme.ts
  src/pages/events.astro
  src/pages/events/[id].astro
  src/pages/index.astro
  src/styles/global.css
  src/styles/theme.css
  tailwind.config.js
Due: stylelint, eslint, prettier

Refactor to encapsulate common elements/actions
  Makefile
  PROJECT_REQUIREMENTS.md
  UI_COMPONENT_RECOMMENDATIONS.md
  public/fullcalendar-init.js
  src/components/EventCarouselCard.astro
  src/components/EventHeroCarousel.astro
  src/components/ui/CalendarAddButton.astro
  src/components/ui/README.md
  src/components/ui/ShareButton.astro
  src/lib/event-utils.ts
  src/lib/supabase.ts
  src/pages/api/calendar/events.ts
  src/pages/api/calendar/google.ts
  src/pages/api/calendar/ical.ts
  src/pages/api/events/[id]/google.ts
  src/pages/api/events/[id]/ical.ts
  src/pages/api/events/[id]/outlook.ts
  src/pages/api/events/search.ts
  src/pages/api/rss.xml.ts
  src/pages/calendar.astro
  src/pages/events.astro
  src/pages/events/[id].astro
  src/pages/ical.astro
  src/pages/index.astro
  src/pages/rss.astro
  src/styles/components.css
  src/styles/global.css
  src/styles/theme.css
Due: stylelint, eslint, prettier

Docs: full update/consolidation
  CALENDAR_SYNC_GUIDE.md
  DEVELOPING.md
  PROJECT_REQUIREMENTS.md
  README.md
  TODO.md
  UI_COMPONENT_RECOMMENDATIONS.md
Due: prettier

Relax constraints for event date; Update deployment
  .gitignore
  DEVELOPING.md
  Makefile
  astro.config.mjs
  env.example
  netlify.toml
  scripts/data_manager.py
  scripts/dev_utils.py
  scripts/seed_database.py
  scripts/validate_theme_colors.ts
  src/lib/supabase.py
  src/lib/supabase.ts
  src/pages/admin.astro
  src/pages/api/admin/announcements-staged.ts
  src/pages/api/admin/announcements-staged/approve.ts
  src/pages/api/admin/announcements-staged/reject.ts
  src/pages/api/admin/events-staged.ts
  src/pages/api/admin/events-staged/approve.ts
  src/pages/api/admin/events-staged/reject.ts
  src/pages/api/admin/protected-example.ts
  src/pages/api/announcements/submit.ts
  src/pages/api/calendar/events.ts
  src/pages/api/calendar/ical.ts
  src/pages/api/events/[id]/google.ts
  src/pages/api/events/[id]/ical.ts
  src/pages/api/events/[id]/outlook.ts
  src/pages/api/events/search.ts
  src/pages/api/events/submit.ts
  src/pages/api/rss.xml.ts
  src/pages/login.astro
  supabase/config.toml
  supabase/migrations/20240616000006_add_validation_constraints.sql
  supabase/migrations/20250716124200_update_public_views_for_recent_content.sql
Due: eslint, prettier

Fix: env variable names
  env.example
  src/lib/supabase.ts
Due: eslint, prettier

Updating mobile styling 100% of vw
  README.md
  src/components/Layout.astro
  src/components/Navbar.astro
  src/lib/event-utils.ts
  src/lib/supabase.ts
  src/pages/events.astro
  src/pages/events/[id].astro
  src/pages/index.astro
  src/styles/components.css
  src/styles/global.css
Due: stylelint, eslint, prettier

Update theme; Leverage material icons instead of other svgs
  public/fullcalendar-init.js
  src/components/AnnouncementMarquee.astro
  src/components/EventHeroCarousel.astro
  src/components/EventList.astro
  src/components/EventListCard.astro
  src/components/Layout.astro
  src/components/Navbar.astro
  src/components/ui/Badge.astro
  src/components/ui/CalendarAddButton.astro
  src/components/ui/CalendarSubscribeButton.astro
  src/components/ui/RssFeedButton.astro
  src/components/ui/ShareButton.astro
  src/pages/events.astro
  src/pages/events/[id].astro
  src/styles/theme.css
Due: stylelint, eslint, prettier

Replaced Glider.js with Embla
  README.md
  package-lock.json
  package.json
  public/embla-init.js
  public/glider-init.js
  src/components/AnnouncementMarquee.astro
  src/components/EventHeroCarousel.astro
  src/components/Layout.astro
  src/components/Navbar.astro
  src/lib/event-utils.ts
  src/pages/index.astro
Due: eslint, prettier

Fix layouts on event detail; some tweaking on calender nav
  PROJECT_REQUIREMENTS.md
  public/fullcalendar-init.js
  src/pages/events/[id].astro
Due: eslint, prettier

Add date picker
  public/fullcalendar-init.js
  src/components/Layout.astro
  src/styles/components.css
Due: stylelint, eslint, prettier

fix: sports color should be black on yellow
  src/styles/theme.css
Due: stylelint, prettier

Fix filtering
  src/components/EventList.astro
  src/components/Layout.astro
Due: none

Add issue / feature submission links to footer
  src/components/Footer.astro
Due: none

Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

Change issue templates to forms. update gitignore.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .gitignore
Due: prettier

Fix yaml text escapes in feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Update links in footer to go directly to issue forms
  src/components/Footer.astro
Due: none

Add image placeholder text for accessibility
  Makefile
  src/components/EventCarouselCard.astro
  src/components/EventForm.astro
  src/lib/validation.ts
  src/pages/api/events/submit.ts
  src/pages/events/[id].astro
  src/types/database.ts
  supabase/migrations/20240717000001_add_event_image_alt_text.sql
  supabase/migrations/20240717180000_add_image_alt_text_to_public_events_view.sql
Due: eslint, prettier

Render all events with color
  Makefile
  public/fullcalendar-init.js
  remote_data_dump.sql
  src/lib/supabase.ts
  src/lib/validation.ts
  src/pages/events.astro
  src/styles/components.css
  src/styles/global.css
  src/styles/theme.css
  supabase/migrations/20240717180000_add_image_alt_text_to_public_events_view.sql
  supabase/migrations/20240717181000_add_unique_constraint_events_start_date_title.sql
  supabase/migrations/20250716124200_update_public_views_for_recent_content.sql
  supabase/migrations/20250723232527_remote_schema.sql
Due: stylelint, eslint, prettier

Fix coloring and sizing issues to increase accessibility
  public/fullcalendar-init.js
  src/components/Calendar.astro
  src/lib/event-utils.ts
  src/styles/theme.css
Due: stylelint, eslint, prettier

Fix default link in rss feed.
  src/pages/api/rss.xml.ts
Due: eslint, prettier
