Repository e-lo/dertown: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: stylelint
        name: stylelint (CSS)
        entry: npm run lint:css -- --fix
        language: system
        files: "\\.css$"
      - id: eslint
        name: eslint (JS)
        entry: npm run lint:js -- --fix
        language: system
        files: "\\.(js|jsx|ts|tsx)$"
      - id: prettier
        name: prettier (format CSS/JS/HTML/MD)
        entry: npm run format -- --fix
        language: system
        files: "\\.(css|js|jsx|ts|tsx|html|md)$"

fix: round duration minutes, guard against null event.start in groupByDate
  public/calendar-v2.js
Due: eslint, prettier

feat: add calendar search autocomplete API endpoint
  src/pages/api/calendar/search.ts
Due: eslint, prettier

feat: add calendar event card and day column rendering
  public/calendar-v2.js
Due: eslint, prettier

fix: guard event URL against non-relative href injection
  public/calendar-v2.js
Due: eslint, prettier

feat: add calendar toolbar and subbar rendering
  public/calendar-v2.js
Due: eslint, prettier

feat: add calendar navigation and listener attachment
  public/calendar-v2.js
Due: eslint, prettier

feat: add calendar grid rendering for week, day, and month views
  public/calendar-v2.js
Due: eslint, prettier

feat: add smart-positioned event tooltips
  public/calendar-v2.js
Due: eslint, prettier

feat: add category filter with URL state
  public/calendar-v2.js
Due: eslint, prettier

feat: add search autocomplete with live results
  public/calendar-v2.js
Due: eslint, prettier

feat: add touch swipe navigation for mobile
  public/calendar-v2.js
Due: eslint, prettier

feat: remove FullCalendar and old Calendar component
  .superpowers/brainstorm/51332-1779153015/content/default-view.html
  .superpowers/brainstorm/51332-1779153015/content/event-cards.html
  .superpowers/brainstorm/51332-1779153015/content/refined-style.html
  .superpowers/brainstorm/51332-1779153015/content/refined-v2.html
  .superpowers/brainstorm/51332-1779153015/content/toolbar-v3.html
  .superpowers/brainstorm/51332-1779153015/content/toolbar-v4.html
  .superpowers/brainstorm/51332-1779153015/content/visual-style.html
  .superpowers/brainstorm/51332-1779153015/content/waiting.html
  .superpowers/brainstorm/51332-1779153015/state/server-stopped
  .superpowers/brainstorm/51332-1779153015/state/server.log
  .superpowers/brainstorm/51332-1779153015/state/server.pid
  docs/superpowers/plans/2026-05-18-calendar-redesign.md
  docs/superpowers/specs/2026-05-18-calendar-redesign-design.md
  package-lock.json
  package.json
  public/fullcalendar-init.js
  src/components/Calendar.astro
  src/components/Layout.astro
Due: eslint, prettier

fix: correct period label colors, hide mobile view toggle, add org search
  public/calendar-v2.js
  src/pages/api/calendar/search.ts
  src/styles/components.css
Due: stylelint, eslint, prettier

fix: calendar scroll, full-bleed banner, and viewport-aware navigation
  public/calendar.js
  src/components/Calendar.astro
  src/pages/calendar.astro
  src/styles/components.css
Due: stylelint, eslint, prettier

fix: remove type="module" from map script to let Astro bundle imports
  src/pages/events/map.astro
Due: none

fix: remove define:vars from map script — it's incompatible with ES6 imports
  src/pages/events/map.astro
Due: none

feat: set initial map view to Leavenworth bounding box
  src/lib/config.ts
  src/pages/events/map.astro
Due: eslint, prettier

feat: Sunday-first week, bold category cards, weekend/holiday columns
  public/calendar.js
  src/styles/components.css
Due: stylelint, eslint, prettier

feat: add POST /api/admin/events/merge super-admin endpoint
  src/pages/api/admin/events/merge.ts
Due: eslint, prettier

fix: tighten duplicate-ID guard in event merge endpoint
  src/pages/api/admin/events/merge.ts
Due: eslint, prettier

fix(merge): add image_id field, fix step numbering, add clarifying comments
  src/pages/api/admin/events/merge.ts
Due: eslint, prettier

feat: add /admin/events/merge page for side-by-side event merge comparison
  src/pages/admin/events/merge.astro
Due: none

fix: harden merge page with shared fields, accessibility, error UI, and security improvements
  src/lib/merge-fields.ts
  src/pages/admin/events/merge.astro
  src/pages/api/admin/events/merge.ts
Due: eslint, prettier

feat: add Merge link to staged events duplicate column
  src/pages/admin.astro
Due: none

feat: add Merge button and search panel to event edit page
  src/components/ui/EditEventModal.astro
  src/pages/admin/events/[id].astro
  src/styles/admin.css
Due: stylelint, prettier

fix: guard merge panel in duplicate mode and improve dropdown styling
  src/components/ui/EditEventModal.astro
  src/pages/admin/events/[id].astro
Due: none

fix: add merge guards and extend search to include events_staged
  src/pages/admin/events/[id].astro
  src/pages/admin/events/merge.astro
  src/pages/api/admin/events/search.ts
Due: eslint, prettier

fix: normalize day number height so today circle doesn't offset events
  src/styles/components.css
Due: stylelint, prettier

docs: add email ingest pipeline design spec
  docs/superpowers/specs/2026-05-26-email-ingest-pipeline-design.md
Due: prettier

feat: refresh seasonal content for summer on things-to-do and after-school pages
  src/pages/families/after-school-activities.astro
  src/pages/things-to-do.astro
Due: none

feat: add /families/camps page for browsing camps and classes
  src/pages/families/camps.astro
Due: none

feat: add /families/programs page and program_format field
  src/pages/families/programs.astro
  supabase/migrations/20260526120000_add_program_format_to_activities.sql
Due: none

feat(mobile): scaffold Expo project — package.json, app.json, tsconfig, babel
  mobile/.gitignore
  mobile/.npmrc
  mobile/app.json
  mobile/assets/icon.png
  mobile/babel.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/tsconfig.json
Due: eslint, prettier

chore(mobile): add .env to gitignore, document legacy-peer-deps reason in .npmrc
  mobile/.gitignore
  mobile/.npmrc
Due: none

feat(mobile): add theme.ts with fixHex and category color tokens
  mobile/__tests__/lib/theme.test.ts
  mobile/lib/theme.ts
Due: eslint, prettier

fix(mobile): add metro.config.js with watchFolders so Metro bundles shared src/ files
  mobile/metro.config.js
Due: eslint, prettier

feat(mobile): add MobileEvent type and EventSearchParams
  mobile/lib/types.ts
Due: eslint, prettier

fix(mobile): add @types/jest to resolve tsc errors in test files
  mobile/package-lock.json
  mobile/package.json
Due: none

feat(mobile): add dateUtils — formatTime, groupEventsByDate, filterUpcoming
  mobile/__tests__/lib/dateUtils.test.ts
  mobile/lib/dateUtils.ts
Due: eslint, prettier

fix: make camps and programs pages resilient to missing program_format column
  src/pages/families/camps.astro
  src/pages/families/programs.astro
Due: none
