Repository e-lo/dertown: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint, prettier

stylelint:
  name: stylelint (CSS)
  entry: npm run lint:css -- --fix
  language: system

eslint:
  name: eslint (JS)
  entry: npm run lint:js -- --fix
  language: system

prettier:
  name: prettier (format CSS/JS/HTML/MD)
  entry: npm run format -- --fix
  language: system

update workflows
  .github/workflows/django-migrations.yml
  .github/workflows/lint.yml
Due: none

update pyproject
  pyproject.toml
Due: none

add requirements
  render.yaml
  requirements.txt
Due: none

explicitly specify packages for build in pyproject.toml
  pyproject.toml
  render.yaml
Due: none

playing around with pyproject to get it to stop referencing file that doesn't exist
  .gitignore
  pyproject.toml
Due: none

updating installed apps to include dertown
  dertown/settings/base.py
  dertown/settings/production.py
  events/static/events/js/event_carousel.js
Due: eslint, prettier

update to use secrets for google credentials
  dertown/settings/base.py
  dertown/settings/dev.py
  dertown/settings/production.py
  events/google_calendar.py
Due: none

troubleshoot environ vars
  dertown/settings/base.py
Due: none

merge migrations for real
  events/migrations/0001_initial.py
  events/migrations/0001_squashed_0001_initial.py
  events/migrations/0002_alter_event_contact_email_alter_event_tags_and_more.py
  events/migrations/0003_alter_event_registration_link.py
  events/migrations/0004_event_end_date_event_parent_event_and_more.py
  events/migrations/0005_event_featured_event_primary_tag.py
  events/migrations/0006_remove_event_tags_event_secondary_tag.py
  events/migrations/0007_remove_event_created_at_remove_event_parent_event_and_more.py
  events/migrations/0008_alter_event_options_alter_location_options_and_more.py
  events/migrations/0009_event_parent_event.py
  events/migrations/0010_event_registration_link_event_website.py
  events/migrations/0011_communityannouncement.py
  events/migrations/0012_communityannouncement_author_and_more.py
  events/migrations/0013_remove_tag_color_location_latitude_and_more.py
  events/migrations/0014_rename_contact_email_event_email.py
  events/migrations/0015_event_exclude_from_calendar.py
  events/migrations/0016_event_google_calendar_event_id.py
  events/migrations/0017_event_status.py
  events/migrations/0018_simplepage.py
  events/tests.py
Due: none

update production build settings for render from render recommendations
  .github/workflows/django-migrations.yml
  build.sh
  dertown/settings/base.py
  dertown/settings/dev.py
  dertown/settings/production.py
  events/migrations/0002_alter_event_google_calendar_event_id_and_more.py
  events/wagtail_hooks.py
  requirements.txt
Due: none

Add uvicorn to requirements
  requirements.txt
Due: none

add necessary db migration
  events/migrations/0003_alter_location_parent_location.py
  get-pip.py
  pyproject.toml
  render.yaml
  uv.lock
Due: none

add debugging server info
  dertown/templates/500.html
  dertown/urls.py
  events/urls.py
  events/views.py
Due: prettier

fix block error
  dertown/templates/500.html
Due: prettier

another template block fix
  dertown/templates/500.html
Due: prettier

try to add debug view to 500 again
  .pre-commit-config.yaml
  dertown/asgi.py
  dertown/templates/500.html
  dertown/urls.py
  events/migrations/0004_alter_location_parent_location.py
  events/urls.py
  events/views.py
  pyproject.toml
Due: prettier

fix middleware ordering
  dertown/settings/base.py
Due: none

Fix installed apps order
  dertown/settings/base.py
Due: none

add calendar ids to tag model
  dertown/settings/base.py
  events/context_processors.py
  events/google_calendar.py
  events/migrations/0005_tag_calendar_id_tag_share_id.py
  events/migrations/0006_alter_tag_calendar_id.py
  events/models.py
  events/templates/components/navbar.html
Due: prettier

restore mobile calendar subscribe js
  README.md
  dertown/static/js/subscribe_offcanvas.js
  events/templates/components/navbar.html
Due: eslint, prettier

Fix form submission; add import scripts
  build.sh
  dertown/settings/base.py
  dertown/settings/dev.py
  dertown/templates/base.html
  events/forms.py
  events/migrations/0007_event_fee_event_registration_required.py
  events/migrations/0008_location_status_organization_status_and_more.py
  events/models.py
  events/templates/events/event_detail.html
  events/templates/events/simple_page.html
  events/templates/events/submit_event.html
  events/views.py
  ingest/__init__.py
  ingest/admin.py
  ingest/apps.py
  ingest/html_utils.py
  ingest/management/commands/import_events_from_web.py
  ingest/migrations/0001_initial.py
  ingest/migrations/0002_sourcesite_extraction_function.py
  ingest/migrations/__init__.py
  ingest/models.py
  ingest/templates/ingest/manual_import.html
  ingest/tests.py
  ingest/views.py
  ingest/wagtail_hooks.py
  pyproject.toml
  requirements.txt
  settings/base.py
  uv.lock
Due: prettier

Add django crontab
  pyproject.toml
  requirements.txt
Due: none

upgrade django/wagtail; add crontab to installed apps
  dertown/settings/base.py
  requirements.txt
Due: none

fix typo in requirements
  requirements.txt
Due: none

add gcp storage
  dertown/settings/production.py
  pyproject.toml
  requirements.txt
Due: none

Update environment variable for GCP credentials
  dertown/settings/production.py
Due: none

add analytics
  dertown/templates/base.html
Due: prettier

try environment variables for GCP again
  dertown/settings/production.py
Due: none

try another environment variable for GCP
  dertown/settings/production.py
Due: none

name gs authentication environment variables more explicitly
  dertown/settings/base.py
  dertown/settings/production.py
  events/google_calendar.py
Due: none

More typo fixing of variables.
  dertown/settings/production.py
Due: none

fixing quote-matching
  dertown/settings/production.py
Due: none

remove exists
  events/google_calendar.py
Due: none

Try to fix GCP Django Storages settings/authentication
  dertown/settings/production.py
Due: none

add static file version strings
  dertown/settings/base.py
Due: none

Fixing errors w/django upgrade
  dertown/settings/production.py
Due: none

Try different GCP authentication params
  dertown/settings/production.py
Due: none

Css work for event cards: image aspect ratios; tag margins; card backgrounds
  dertown/static/css/theme.css
  dertown/templates/base.html
  events/static/events/css/event_card.css
  events/static/events/css/events.css
  events/templates/components/event_card.html
Due: stylelint, prettier

More event carousel css cleanup
  dertown/static/css/theme.css
  events/static/events/css/event_card.css
  events/static/events/css/event_carousel.css
  events/templates/components/event_carousel.html
Due: stylelint, prettier

improve filtering to make more legible; filter homepage events to future
  events/models.py
  events/utils.py
Due: none

Path conditions:
  stylelint: any of: \.css$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(css|js|jsx|ts|tsx|html|md)$
