Repository e-lo/dertown: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: stylelint
        name: stylelint (CSS)
        entry: npm run lint:css -- --fix
        language: system
        files: "\\.css$"
      - id: eslint
        name: eslint (JS)
        entry: npm run lint:js -- --fix
        language: system
        files: "\\.(js|jsx|ts|tsx)$"
      - id: prettier
        name: prettier (format CSS/JS/HTML/MD)
        entry: npm run format -- --fix
        language: system
        files: "\\.(css|js|jsx|ts|tsx|html|md)$"

chore(mobile): bump to 1.0.1; take SDK 54 patch updates
  mobile/app.json
  mobile/package-lock.json
  mobile/package.json
Due: none

chore(db): drop dormant scheduling tables and the unused kid-activities route
  src/lib/__tests__/activity-fields.test.ts
  src/lib/activity-fields.ts
  src/pages/admin/kid-activities.astro
  src/types/database.ts
  supabase/migrations/20260910150000_drop_dormant_scheduling_tables.sql
Due: eslint, prettier

chore(mobile): build numbers for 1.0.1 (iOS 4, Android 7)
  mobile/app.json
Due: none

chore(db): drop 16 unused activities columns and rebuild public_activities
  src/pages/admin/events/[id].astro
  src/types/database.ts
  supabase/migrations/20260910160000_drop_unused_activity_columns.sql
Due: eslint, prettier

chore(local-dev): run supabase start on Podman, disable unused services
  DEVELOPING.md
  docs/feature-event-scraper.md
  supabase/config.toml
Due: prettier

feat(events): admin route to group pending events under a series parent
  src/pages/api/admin/events/group-series.ts
Due: eslint, prettier

refactor(events): use shared series parent marker helper
  src/lib/__tests__/series-parent-marker.test.ts
  src/lib/scraper/staged.ts
  src/pages/api/admin/events-staged.ts
  src/pages/api/admin/events-staged/approve.ts
  src/pages/api/admin/events-staged/edit.ts
Due: eslint, prettier

feat(admin): client module for grouping queue events as a series
  src/lib/admin/group-series-modal.ts
Due: eslint, prettier

docs(events): implementation plan for grouping pending events as a series
  docs/superpowers/plans/2026-09-10-group-events-as-series.md
Due: prettier

feat(admin): group-as-series modal component
  src/components/ui/GroupSeriesModal.astro
Due: none

feat(events): pure validation and date-range logic for grouping events as a series
  src/lib/__tests__/group-series.test.ts
  src/lib/group-series.ts
Due: eslint, prettier

refactor(events): extract series parent marker helper with tests
  package.json
  src/lib/__tests__/series-parent-marker.test.ts
  src/lib/series-parent-marker.ts
Due: eslint, prettier

feat(admin): select queue events and group them as a series
  src/lib/admin/group-series-modal.ts
  src/pages/admin.astro
Due: eslint, prettier

fix(admin): handle partial failures, warn on re-parenting, detect vanished rows in group-series
  src/lib/admin/group-series-modal.ts
  src/pages/admin.astro
  src/pages/api/admin/events/group-series.ts
Due: eslint, prettier

fix(events): stop card text overflowing; plain-text previews; fit titles
  package.json
  src/components/EventCarouselCard.astro
  src/components/EventListCard.astro
  src/lib/__tests__/markdown-preview.test.ts
  src/lib/markdown-utils.ts
Due: eslint, prettier

fix(submit): write public submissions with the service role; fix checkbox and error messages
  package.json
  src/components/EventForm.astro
  src/lib/__tests__/event-submission.test.ts
  src/lib/form-errors.ts
  src/lib/supabase.ts
  src/lib/validation.ts
Due: eslint, prettier

fix(submit): write public submissions with the service role; fix checkbox and error messages (#58)
  package.json
  src/components/EventForm.astro
  src/lib/__tests__/event-submission.test.ts
  src/lib/form-errors.ts
  src/lib/supabase.ts
  src/lib/validation.ts
Due: eslint, prettier

fix(events): stop card text overflowing; plain-text previews; fit titles (#59)
  package.json
  src/components/EventCarouselCard.astro
  src/components/EventListCard.astro
  src/lib/__tests__/markdown-preview.test.ts
  src/lib/markdown-utils.ts
Due: eslint, prettier

docs(events): design spec for admin event image framing
  docs/superpowers/specs/2026-10-02-event-image-framing-design.md
Due: prettier

content(families): Plain Valley Nordic winter 2026-27 registration is open
  src/pages/families/after-school-activities.astro
Due: none

docs(events): implementation plan for event image framing
  docs/superpowers/plans/2026-10-02-event-image-framing.md
  docs/superpowers/specs/2026-10-02-event-image-framing-design.md
Due: prettier

feat(db): add events.image_display and expose it in public_events
  src/types/database.ts
  supabase/migrations/20261002120000_add_event_image_display.sql
Due: eslint, prettier

feat(events): image-display parser and framing rules
  package.json
  src/lib/__tests__/image-display.test.ts
  src/lib/image-display.ts
Due: eslint, prettier

feat(api): validate image_display on admin event create/update
  src/pages/api/admin/events.ts
  src/pages/api/admin/events/create.ts
Due: eslint, prettier

feat(events): series children inherit image framing with the image
  src/lib/supabase.ts
  src/pages/events/[id].astro
Due: eslint, prettier

feat(events): EventImage component with crop/full/measure framing
  src/components/EventImage.astro
  src/styles/event-image.css
Due: stylelint, prettier

feat(events): carousel card frames its image via EventImage
  src/components/EventCarouselCard.astro
  src/components/EventImage.astro
Due: none

feat(events): detail page banner and side-by-side image layouts
  src/pages/events/[id].astro
  src/styles/event-image.css
Due: stylelint, prettier

fix(events): image upload fires input so URL listeners update
  src/scripts/image-upload-field.ts
Due: eslint, prettier

feat(admin): image framing panel in the event edit modal
  src/components/ui/EditEventModal.astro
  src/scripts/image-framing-field.ts
Due: eslint, prettier

feat(admin): load and save image framing from every edit-modal page
  package.json
  src/lib/__tests__/image-framing-wiring.test.ts
  src/pages/admin.astro
  src/pages/admin/events/[id].astro
  src/pages/admin/events/new.astro
  src/pages/events/[id].astro
Due: eslint, prettier

fix(events): narrow detail image src for EventImage props
  src/pages/events/[id].astro
Due: none

fix(images): don't send fit=cover without a height to the image CDN
  package.json
  src/lib/__tests__/image-cdn-url.test.ts
  src/lib/image.ts
Due: eslint, prettier

fix(images): don't send fit=cover without a height to the image CDN (#61)
  package.json
  src/lib/__tests__/image-cdn-url.test.ts
  src/lib/image.ts
Due: eslint, prettier

feat(events): admin image framing (focal point, full + blur, detail layouts) (#60)
  docs/superpowers/plans/2026-10-02-event-image-framing.md
  docs/superpowers/specs/2026-10-02-event-image-framing-design.md
  package.json
  src/components/EventCarouselCard.astro
  src/components/EventImage.astro
  src/components/ui/EditEventModal.astro
  src/lib/__tests__/image-display.test.ts
  src/lib/__tests__/image-framing-wiring.test.ts
  src/lib/image-display.ts
  src/lib/supabase.ts
  src/pages/admin.astro
  src/pages/admin/events/[id].astro
  src/pages/admin/events/new.astro
  src/pages/api/admin/events.ts
  src/pages/api/admin/events/create.ts
  src/pages/events/[id].astro
  src/scripts/image-framing-field.ts
  src/scripts/image-upload-field.ts
  src/styles/event-image.css
  src/types/database.ts
  supabase/migrations/20261002120000_add_event_image_display.sql
Due: stylelint, eslint, prettier
