Repository e-lo/dertown: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint, prettier

stylelint:
  name: stylelint (CSS)
  entry: npm run lint:css -- --fix
  language: system

eslint:
  name: eslint (JS)
  entry: npm run lint:js -- --fix
  language: system

prettier:
  name: prettier (format CSS/JS/HTML/MD)
  entry: npm run format -- --fix
  language: system

Fix: Use parent event title when adding series occurrences
  src/pages/admin/series.astro
Due: none

Fix: Strip ' Series' suffix from occurrence titles
  src/pages/admin/series.astro
Due: none

Debug: Add error logging for map JSON parse failure
  src/pages/events/map.astro
Due: none

Fix: Unescape HTML entities in map JSON payload
  src/pages/events/map.astro
Due: none

Fix: Remove default location selection and switch to Carto Positron basemap
  src/pages/events/map.astro
Due: none

Refactor theme config: Separate customizable values from design system
  CUSTOMIZATION.md
  DEVELOPING.md
  src/components/MapboxMap.astro
  src/components/ui/AddLocationModal.astro
  src/lib/config.ts
  src/pages/events/map.astro
  src/styles/theme.css
Due: stylelint, eslint, prettier

Centralize theme colors and fix admin series detail page
  src/pages/admin/series/[parentId].astro
  src/pages/events/map.astro
  src/styles/admin.css
  src/styles/components.css
  src/styles/theme.css
Due: stylelint, prettier

Centralize all color references to use CSS variables from config
  CUSTOMIZATION.md
  src/components/AnnouncementMarquee.astro
  src/components/ui/AddLocationModal.astro
  src/components/ui/EditEventModal.astro
  src/components/ui/LoginModal.astro
  src/pages/events/[id].astro
  src/pages/locations/[id].astro
  src/pages/organizations/[id].astro
Due: prettier

Add title editing to series edit modal
  src/pages/admin/series.astro
Due: none

Add organization user management feature design spec
  docs/superpowers/specs/2026-04-30-organization-user-management-design.md
Due: prettier

Add organization user management implementation plan
  docs/superpowers/plans/2026-04-30-organization-user-management.md
Due: prettier

feat: add allowlisted_org_emails and org_users tables with RLS
  supabase/migrations/20260430000000_add_org_user_tables.sql
Due: none

feat: update RLS policies for org-based access control
  supabase/migrations/20260430000001_update_rls_policies.sql
Due: none

feat: add types for org_users and allowlisted_org_emails
  src/types/database.ts
Due: eslint, prettier

feat: update checkAdminAccess to distinguish super admin vs org editor
  src/lib/session.ts
Due: eslint, prettier

feat: add user registration endpoint with email allowlist validation
  src/pages/api/auth/register.ts
Due: eslint, prettier

feat: add password reset request endpoint
  src/pages/api/auth/forgot-password.ts
Due: eslint, prettier

feat: add user registration page
  src/pages/register.astro
Due: none

feat: add password reset request page
  src/pages/forgot-password.astro
Due: none

feat: add registration and forgot-password links to login page
  src/pages/login.astro
Due: none

feat: add API endpoints for managing allowlisted org emails
  src/pages/api/admin/org-users.ts
Due: eslint, prettier

feat: add organization user management interface
  src/components/ui/OrgUserModal.astro
  src/pages/admin/organizations/[id]/users.astro
Due: none

feat: add users management link to organizations table
  src/pages/admin/organizations.astro
Due: none

Fix: Correct role-to-isAdmin conversion on event detail page
  docs/superpowers/specs/2026-04-30-series-title-editing-design.md
  src/pages/events/[id].astro
Due: prettier

Add CLAUDE.md with debugging guidance
  CLAUDE.md
Due: prettier

test: document organization user management test results
  docs/superpowers/TEST_RESULTS.md
Due: prettier

feat: auto-create org_users on email verification
  supabase/migrations/20260430000002_add_auth_user_trigger.sql
Due: none

docs: add organization user management guide
  docs/superpowers/ORGANIZATION_USER_MANAGEMENT.md
Due: prettier

Fix: Add missing quote in eventTextColors config
  src/lib/config.ts
Due: eslint, prettier

Fix: Correct role-to-isAdmin destructuring across all files
  src/lib/api-utils.ts
  src/pages/locations/[id].astro
  src/pages/login.astro
  src/pages/organizations/[id].astro
Due: eslint, prettier

refactor: migrate from email-based to database-driven permissions
  src/lib/session.ts
  src/pages/api/admin/users.ts
  supabase/migrations/20260430000003_add_user_permissions_table.sql
  supabase/migrations/20260430000004_update_rls_for_permissions.sql
Due: eslint, prettier

docs: add permission refactor verification steps
  docs/superpowers/PERMISSION_REFACTOR_VERIFICATION.md
Due: prettier

fix: remove series table references from RLS migrations (table doesn't exist)
  supabase/migrations/20260430000001_update_rls_policies.sql
  supabase/migrations/20260430000004_update_rls_for_permissions.sql
Due: none

refactor: remove RLS policy migrations - focus on permission system only
  docs/superpowers/PERMISSION_REFACTOR_SUMMARY.md
  supabase/migrations/20260430000001_update_rls_policies.sql
  supabase/migrations/20260430000004_update_rls_for_permissions.sql
Due: prettier

Path conditions:
  stylelint: any of: \.css$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(css|js|jsx|ts|tsx|html|md)$
