Repository e-lo/dertown: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: stylelint
        name: stylelint (CSS)
        entry: npm run lint:css -- --fix
        language: system
        files: "\\.css$"
      - id: eslint
        name: eslint (JS)
        entry: npm run lint:js -- --fix
        language: system
        files: "\\.(js|jsx|ts|tsx)$"
      - id: prettier
        name: prettier (format CSS/JS/HTML/MD)
        entry: npm run format -- --fix
        language: system
        files: "\\.(css|js|jsx|ts|tsx|html|md)$"

Add admin duplicate detection and canonical reassignment flow
  src/lib/entity-matching.ts
  src/lib/scraper/match.ts
  src/pages/admin.astro
  src/pages/api/admin/locations.ts
  src/pages/api/admin/locations/resolve-duplicate.ts
  src/pages/api/admin/organizations.ts
  src/pages/api/admin/organizations/resolve-duplicate.ts
  src/styles/admin.css
Due: stylelint, eslint, prettier

fix: enable --remote scraper mode (load production env, seed source_sites)
  src/lib/scraper/db.ts
  supabase/migrations/20260306130000_seed_source_sites.sql
Due: eslint, prettier

Add mark-duplicate action for pending events
  src/pages/admin.astro
  src/pages/api/admin/events-staged.ts
Due: eslint, prettier

Improve duplicate suggestions for pending locations and organizations
  src/lib/entity-matching.ts
  src/pages/admin.astro
  src/pages/api/admin/locations.ts
  src/pages/api/admin/organizations.ts
  src/styles/admin.css
Due: stylelint, eslint, prettier

Prioritize venue tokens in duplicate name matching
  src/lib/entity-matching.ts
Due: eslint, prettier

Extract entity matching thresholds into typed settings
  src/lib/entity-matching-config.ts
  src/lib/entity-matching.ts
Due: eslint, prettier

Fix admin duplicate action icon rendering
  src/pages/admin.astro
Due: none

Fix staged event parent selection validation
  src/pages/admin.astro
  src/pages/api/admin/events-staged/edit.ts
  src/pages/api/admin/parent-events.ts
Due: eslint, prettier

Add likely/possible duplicate hints to pending events
  src/lib/event-duplicate.ts
  src/pages/admin.astro
  src/pages/api/admin/events-staged.ts
  src/pages/api/admin/events.ts
Due: eslint, prettier

Fix staged event duplicate rejection status handling
  src/pages/api/admin/events-staged/reject.ts
Due: eslint, prettier

Improve scraper descriptions and add pending-force update mode
  scrape/sources.yaml
  src/lib/__tests__/parse-libcal-json.test.ts
  src/lib/__tests__/scraper-description.test.ts
  src/lib/scraper/config.ts
  src/lib/scraper/description.ts
  src/lib/scraper/enrich.ts
  src/lib/scraper/index.ts
  src/lib/scraper/match.ts
  src/lib/scraper/parse-html.ts
  src/lib/scraper/parse-json.ts
  src/lib/scraper/staged.ts
  src/lib/scraper/types.ts
Due: eslint, prettier

Improve staged-event reject error handling
  src/pages/admin.astro
  src/pages/api/admin/events-staged/reject.ts
Due: eslint, prettier

Handle past-date constraint when rejecting staged events
  src/pages/api/admin/events-staged/reject.ts
Due: eslint, prettier

Fix admin autocomplete selection reliability
  src/components/ui/AddLocationModal.astro
  src/components/ui/AddOrganizationModal.astro
  src/pages/admin.astro
  src/pages/admin/events/[id].astro
  src/pages/admin/events/new.astro
Due: none

Fix scraper pending flow and add clear pending events action
  scrape/sources.yaml
  src/lib/scraper/enrich.ts
  src/lib/scraper/index.ts
  src/lib/scraper/log.ts
  src/lib/scraper/match.ts
  src/lib/scraper/parse-html.ts
  src/lib/scraper/staged.ts
  src/lib/scraper/types.ts
  src/pages/api/admin/events-staged/clear.ts
Due: eslint, prettier

Fix clearing pending staged events in admin API
  src/pages/api/admin/events-staged/clear.ts
Due: eslint, prettier

Fix admin edit modal state initialization order
  src/pages/admin.astro
Due: none

Fix parent selection flow and report series rule matches
  src/lib/scraper/index.ts
  src/lib/scraper/staged.ts
  src/pages/admin.astro
  src/pages/api/admin/events-staged/edit.ts
Due: eslint, prettier

Update series parent rules config and scraper docs
  scrape/README.md
  scrape/sources.yaml
Due: prettier

Add AI-powered URL paste import for scraper (Phase 5)
  package-lock.json
  package.json
  src/lib/event-duplicate.ts
  src/lib/scraper/index.ts
  src/lib/scraper/parse-ai.ts
  src/lib/scraper/types.ts
  src/pages/admin.astro
  src/pages/api/admin/events-staged.ts
  src/pages/api/admin/events-staged/approve.ts
  src/pages/api/admin/events/list.ts
Due: eslint, prettier

Improve admin table and duplicate detection accuracy
  src/lib/event-duplicate.ts
  src/pages/admin.astro
  src/pages/api/admin/events-staged.ts
  src/pages/api/admin/events.ts
Due: eslint, prettier
